<div id="ad_banner" class="ad_banner">  
					<ul>
                            <li><a href="" target="_blank"><img src="images/style5.1/index/img/2013641627218.jpg" width="736" height="292" alt=""></a></li> 
                            
                            <li><a href="http://ww.liutingfeng.com/holiday.aspx" target="_blank"><img src="images/style5.1/index/img/201353104302.jpg" width="736" height="292" alt=""></a></li> 
                            
                            <li><a href="" target="_blank"><img src="images/style5.1/index/img/201353105311.jpg" width="736" height="292" alt=""></a></li> 
                            
					</ul>					
					<dl>
                          
                            <dt class="no_border on" >窝窝考拉开张啦</dt>
                            
                            <dt class="">六一专场</dt>
                            
                            <dt class="">享生活 享健康</dt>     	                 	
					</dl>
				 </div>
				 
				 
				 
				 
				 

	<li><a href="{$url}"><img src="{$picurl}" alt="" width="132" height="70" /></a></li>
			 
				 
				 
<li><a href="{$url}">{$title}</a></li>				 
				 
				 
				 
	<a href="" class="item1">诚信认证</a>
				<a href="" class="item2">联盟保障</a>
				<a href="" class="item3">联盟规则</a> 			 
				 
				 
<a href="/hy/reg.php" class="item1"><strong class="p_l10">华盟会员企业专区</strong></a>
<div class="height_10"></div>
<a href="/do/reg.php?step=1" class="item2"><strong class="p_l10">华盟会员产品专区</strong></a>			 
				 
				 
				 
<a href="" class="fl"><img src="images/style5.1/index/img/index+20130905_31.jpg" alt="" width="657" height="88" /></a>
<a href="" class="fr"><img src="images/style5.1/index/img/index+20130905_29.jpg" alt="" width="323" height="88" /></a>			 
				 
				 
<li>
	<span class="bgOrange{$i}">{$i}</span><a href="{$url}">{$title}</a>
</li>


<li>
	<a href="{$url}"><img class="fl p_r10" src="{$picurl}" width="109" height="75" alt="" />{$title}</a>
</li>

<a href="home/?uid={$uid}"><img src="{$picurl}" width="202" height="97" alt="" /></a>

<li>
	<a href="{$url}">{$title}</a>
</li>
												 
<a href=""><img src="images/style5.1/index/img/index+20130905_50.jpg" width="297" height="137" alt="" /></a>				 
				 
<li>
<div class="proList">
	<div class="proPic">
		<img class="fl" src="{$picurl}" width="144" height="80" alt="" />   
	</div>
	<div class="proName">
		{$title}
	</div>
	<div class="proDetail hide">
		<em>{$title}</em>
		<span class="thickdiv"></span>
	</div>
	<a href=""></a>
</div>
</li>
									 
				 
<a href="" class="colorGrey60_link">老板思维</a><span class="fgx">|</span><a href="" class="colorGrey60_link">企业提升</a><span class="fgx">|</span><a href="" class="colorGrey60_link">员工管理</a><a href="" class="colorGrey60_link">商人圈</a><span class="fgx">|</span><a href="" class="colorGrey60_link">草根创业</a><span class="fgx">|</span><a href="" class="colorGrey60_link">精品课程</a><span class="fgx">|</span><a href="" class="colorGrey60_link">精英团队</a><span class="fgx">|</span><a href="" class="colorGrey60_link">更多&gt;&gt;</a>				 
				 
				 
<li class="fl">
<a href="{$url}"><img class="fl" src="{$picurl}" width="180" height="70" alt="" /></a>
</li>				 
				 
				 
<a href="" class="colorGrey60_link">老板思维</a><span class="fgx">|</span><a href="" class="colorGrey60_link">企业提升</a><span class="fgx">|</span><a href="" class="colorGrey60_link">员工管理</a><a href="" class="colorGrey60_link">商人圈</a><span class="fgx">|</span><a href="" class="colorGrey60_link">草根创业</a><span class="fgx">|</span><a href="" class="colorGrey60_link">精品课程</a><span class="fgx">|</span><a href="" class="colorGrey60_link">精英团队</a><span class="fgx">|</span><a href="" class="colorGrey60_link">更多&gt;&gt;</a>
				 

<a href="{$url}"><img src="{$picurl}" width="144" height="88" alt="" /> {$title}</a>				 
				 
				 
<a href="{$url}">{$title}</a>


 <a href="" class="colorGrey60_link">高信誉企业</a><span class="fgx">|</span><a href="" class="colorGrey60_link">最新会员</a><span class="fgx">|</span><a href="" class="colorGrey60_link">家人动态</a>
				 
<a href="{$url}"><img src="{$picurl}" width="107" height="65" alt="" /> {$title}<</a>





<ul>
				 <li>
					 <a href="/" class="menu1">首页</a>
				 </li>
				 <li>
					 <a href="/buy/" class="menu1">需求</a>
					 <div class="sunNav">
						<div class="fl flMenus">
							<a href="" class="fl">资金</a><a href="" class="fl">人才</a><a href="" class="fl">人脉</a><a href="" class="fl">渠道</a><a href="" class="fl">土地</a><a href="" class="fl">媒体</a><a href="" class="fl">技术</a><a href="" class="fl">其他</a>
						</div>
						<div class="frAd fr">
							<img src="/images/style5.1/index/img/index+20130905_17.jpg" alt="" width="132" height="70" />
						</div>
						<div class="clearboth"></div>
					 </div>
				 </li>
				 <li>
					 <a href="/sell/" class="menu1">供应</a>
					 <div class="sunNav">
						<div class="fl flMenus">
							<a href="" class="fl">资金</a><a href="" class="fl">人才</a><a href="" class="fl">人脉</a><a href="" class="fl">渠道</a><a href="" class="fl">土地</a><a href="" class="fl">媒体</a><a href="" class="fl">技术</a><a href="" class="fl">其他</a>
						</div>
						<div class="frAd fr">
							<img src="/images/style5.1/index/img/index+20130905_17.jpg" alt="" width="132" height="70" />
						</div>
						<div class="clearboth"></div>
					 </div>
				 </li>
				 <li>
					 <a href="/news/" class="menu1">联盟社区</a>
					 <div class="sunNav">
						<div class="fl flMenus">
							<a href="" class="fl">资讯</a><a href="" class="fl">最新动态</a><a href="" class="fl">财富故事</a><a href="" class="fl">诚信社区</a><a href="" class="fl">联盟商机</a><a href="" class="fl">商学院</a><a href="" class="fl">联盟博客</a>
						</div>
						<div class="frAd fr">
							<img src="/images/style5.1/index/img/index+20130905_17.jpg" alt="" width="132" height="70" />
						</div>
						<div class="clearboth"></div>
					 </div>
				 </li>
				 <li>
					 <a href="/showroom/" class="menu1">整合平台</a>
					 <div class="sunNav">
						<div class="fl flMenus">
							<a href="" class="fl">采购会</a><a href="" class="fl">招聘会</a><a href="" class="fl">团购会</a><a href="" class="fl">咨询会</a><a href="" class="fl">相亲会</a>
						</div>
						<div class="frAd fr">
							<img src="/images/style5.1/index/img/index+20130905_17.jpg" alt="" width="132" height="70" />
						</div>
						<div class="clearboth"></div>
					 </div>
				 </li>
				 <li>
					 <a href="/f/" class="menu1">资源沙龙</a>
					 <div class="sunNav">
						<div class="fl flMenus">
							<dl>
								<dt><a href="">行业资源</a></dt>
								<dd><a href="/news/list.php?fid=39">旅游住宿</a><a href="">餐饮房产</a><a href="">银行信托</a><a href="">批发零售</a><a href="">证券保险</a><a href="">服装鞋袜</a><a href="">教育培训</a><a href="">机械制造</a><span class="height_10"></span></dd>
							</dl>
							<dl>
								<dt><a href="">行业资源</a></dt>
								<dd><a href="">旅游住宿</a><a href="">餐饮房产</a><a href="">银行信托</a><a href="">批发零售</a><a href="">证券保险</a><a href="">服装鞋袜</a><a href="">教育培训</a><a href="">机械制造</a><span class="height_10"></span></dd>
							</dl>
							<dl>
								<dt><a href="">行业资源</a></dt>
								<dd><a href="">旅游住宿</a><a href="">餐饮房产</a><a href="">银行信托</a><a href="">批发零售</a><a href="">证券保险</a><a href="">服装鞋袜</a><a href="">教育培训</a><a href="">机械制造</a><span class="height_10"></span></dd>
							</dl>
						</div>
						<div class="frAd fr">
							<img src="/images/style5.1/index/img/index+20130905_17.jpg" alt="" width="132" height="70" />
						</div>
						<div class="clearboth"></div>
					 </div>
				 </li>
				 <li>
					 <a href="/hy/" class="menu1">联盟合作</a>
				 </li>
				 <li>
					 <a href="/tg/" class="menu1">团购活动</a>
				 </li>
			 </ul>



			 
			 
			 
		<div id="classNav" class="classNav">
						<a href="javascript:void(0);" class="classNav_btn">资源分类</a>	
						<div class="classNav_nr hide">
							<div class="height_10"></div>
							<dl class="fl">
								<dt>行业资源</dt>
								<dd><a href="/news/list.php?fid=39">旅游住宿</a><a href="">餐饮房产</a><a href="">银行信托</a><a href=""> 批发零售</a><a href="">证券保险</a><a href="">服装鞋袜</a></dd>
							</dl>
							<dl class="fl">
								<dt>客户资源</dt>
								<dd><a href="">旅游住宿</a><a href="">餐饮房产</a><a href="">银行信托</a><a href=""> 批发零售</a><a href="">证券保险</a><a href="">服装鞋袜</a></dd>
							</dl>
							<dl class="fl">
								<dt>营销平台</dt>
								<dd><a href="">旅游住宿</a><a href="">餐饮房产</a><a href="">银行信托</a><a href=""> 批发零售</a><a href="">证券保险</a><a href="">服装鞋袜</a></dd>
							</dl>
							<dl class="fl">
								<dt>人力资源</dt>
								<dd><a href="">创新人才</a><a href="">人力投资团队</a><a href="">技术团队</a><a href="">营销策划团队</a><a href="">医疗服务团队</a><a href="">兼职人才</a></dd>
							</dl>
							<dl class="fl">
								<dt>人脉资源</dt>
								<dd><a href="">政务关系</a><a href="">金融人脉</a><a href="">国企央企人脉</a><a href="">地产公司人脉</a><a href="">上市公司人脉</a><a href="">教育医疗人脉</a></dd>
							</dl>
							<dl class="fl">
								<dt>技术交流</dt>
								<dd><a href="">技术需求</a><a href="">技术转让</a><a href="">闲置资源</a></dd>
							</dl>
							<dl class="fl">
								<dt>职业培训</dt>
								<dd><a href="">财商教育类培训</a><a href="">总裁培训</a><a href="">市场营销类培训</a><a href="">人力资源类培训</a></dd>
							</dl>
							<dl class="fl">
								<dt>创业商机</dt>
								<dd><a href="">创业项目</a><a href="">联盟商机</a></dd>
							</dl>
							<dl class="fl">
								<dt>文化品牌</dt>
								<dd><a href="">文化创新</a><a href="">品牌管理</a><a href="">品牌推广</a><a href=""> 品牌设计</a><a href="">企业文化策划</a></dd>
							</dl>
							<dl class="fl">
								<dt>健康养生</dt>
								<dd><a href="">心理健康</a><a href="">健康饮食</a><a href="">养生之道</a><a href="">美容养身</a><a href="">身体养护</a><a href="">中医保健</a></dd>
							</dl>
							<div class="height_10"></div>
						</div>
					</div>


					
    <div class="w">
   		<div class="service">
			<dl class="fore1">
				<dt><strong>新手入门</strong></dt>
				<dd>
				    <div><a href="">新用户注册</a></div>
					<div><a href="">用户指南</a></div>
					<div><a href="">常见问题</a></div>
				</dd>
			</dl>
			<dl class="fore2">
				<dt><strong>联盟服务</strong></dt>
				<dd>
					<div><a href="">联盟简介</a></div>
					<div><a href="">联盟服务</a></div>
					<div><a href="">联盟保障</a></div>
					<div><a href="">诚信指标查询</a></div>
				</dd>
			</dl>
			<dl class="fore3">
				<dt><strong>会员等级</strong></dt>
				<dd>
					<div><a href="">会员等级</a></div>
					<div><a href="">会员制度</a></div>
					<div><a href="">会员优势</a></div>
					<div><a href="">会员查询</a></div>
				</dd>
			</dl>
			<dl class="fore4">
				<dt><strong>资源在线</strong></dt>
				<dd>
					<div><a href="">客服平台</a></div>
					<div><a href="">产品交易</a></div>
					<div><a href="">整合中心</a></div>
					<div><a href="">填写资源问卷</a></div>
				</dd>
			</dl>
			<dl class="fore5">
				<dt><strong>联系我们</strong></dt>
				<dd>
					<div><a href="">我有资源</a></div>
					<div><a href="">我有需求</a></div>
					<div><a href="">成为合伙人</a></div>
					<div><a href="">入盟申请</a></div>
				</dd>
			</dl>
			<span class="clearboth"></span>
		</div>
		<div class="freidLink">
			<strong>友情链接：</strong><a href="">家事易</a><a href="">百度</a><a href="">谷歌</a>
		</div>
		<h3 class="fr ft_logo"></h3>
		<div class="copy fl">华人诚信联盟 客服专线：400-809-1689 邮箱:hrcxlm@163.com<br />&copy; 2011-2015 华人诚信联盟有限公司 版权所有.<br />工信部网络备案号：鲁ICP备13010229号.</div>
		<div class="clearboth"></div>
    </div>					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
							