<!--
<?php
$city_DB[copyright][$city_id] && $webdb[copyright]=stripslashes($city_DB[copyright][$city_id]);
$webdb[copyright] && $webdb[copyright].='</br>';
print <<<EOT
-->
<SCRIPT LANGUAGE="JavaScript">
function selectsearch(theA,word){
	obj=document.getElementById("selectsearch").getElementsByTagName("a");
	for(var i=0;i< obj.length;i++ ){
		obj[i].className='';
	}
	theA.className='choose';
	document.getElementById("searchtype").value=word;
}

$("input[type='submit']").each(function(i){
	this.className='buttonStyle';
});
$("input[type='button']").each(function(i){
	this.className='buttonStyle';
});
</SCRIPT>

<SCRIPT LANGUAGE="JavaScript">
clickEdit.init(); //生成一些快速操作按钮
get_cache_button("$webdb[ComebackDate]");	//生成表单中的数据恢复按钮
</SCRIPT>

<SCRIPT LANGUAGE="JavaScript">
<!--//目的是为了做风格方便
document.write('</div>');
//-->
</SCRIPT>
<script type="text/javascript" src="$webdb[www_url]/images/style5.1/index/js/frontIndex.js"></script>
<div class="container_f">
    <div class="w">
   		<div class="service">
			<dl class="fore1">
				<dt><strong>新手入门</strong></dt>
				<dd>
				    <div><a href="">新用户注册</a></div>
					<div><a href="">用户指南</a></div>
					<div><a href="">购物流程</a></div>
					<div><a href="">常见问题</a></div>
				</dd>
			</dl>
			<dl class="fore2">
				<dt><strong>联盟服务</strong></dt>
				<dd>
					<div><a href="">联盟简介</a></div>
					<div><a href="">联盟服务</a></div>
					<div><a href="">联盟保障</a></div>
					<div><a href="">诚信指标查询</a></div>
				</dd>
			</dl>
			<dl class="fore3">
				<dt><strong>会员等级</strong></dt>
				<dd>
					<div><a href="">会员等级</a></div>
					<div><a href="">会员制度</a></div>
					<div><a href="">会员优势</a></div>
					<div><a href="">会员查询</a></div>
				</dd>
			</dl>
			<dl class="fore4">
				<dt><strong>资源在线</strong></dt>
				<dd>
					<div><a href="">客服平台</a></div>
					<div><a href="">产品交易</a></div>
					<div><a href="">整合中心</a></div>
					<div><a href="">填写资源问卷</a></div>
				</dd>
			</dl>
			<dl class="fore5">
				<dt><strong>联系我们</strong></dt>
				<dd>
					<div><a href="">我有资源</a></div>
					<div><a href="">我有需求</a></div>
					<div><a href="">成为合伙人</a></div>
					<div><a href="">入盟申请</a></div>
				</dd>
			</dl>
			<div class="clearboth"></div>
		</div>
        
		<div class="copy">华人诚信联盟 客服专线：400-809-1689 邮箱:hrcxlm@163.com<br />&copy; 2011-2015 华人诚信联盟有限公司 版权所有.<br />工信部网络备案号：鲁ICP备13010229号.</div>
    </div>

<!--
EOT;
?>
--> 
</body>
</html>