<!--
<?php
print <<<EOT
-->



<!--[if lte IE 6]>
<script type="text/javascript" src="$webdb[www_url]/images/style5.1/index/js/iepng.js"></script>
<![endif]-->
<div class="container_m">
	<div class="w">
	    <div class="height_10"></div>
	    <div class="fl">
			<div class="adScroll_demo">
				$label[ly_ad]
			</div> 
			<div class="block_scrollPic_x">
				<div class="scrollPic_x_area" id="scroll_x_demo1">
				<ul>
				$label[ly_ad2]
				</ul>	
				 </div> 
				 <span class="scrollPic_l_btn" id="prev_1"></span>
				 <span class="scrollPic_r_btn" id="next_1"></span>
			</div> 
		</div>
		<div class="fr wrap_257">
		    <div class="tab_demo1">
				<div class="tab_bt">
					<ul>
						<li class="on"><span>活动</span></li>
						<li><span>公告联盟</span></li>
						<li><span>商机</span></li>
						<li><span>资讯</span></li>
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
					<ul>
						$label[ly_t1]	  
						
					</ul>
				</div>
				<div class="tab_nr hide">
					<ul>
						$label[ly_t2]
					</ul>
				</div>
				<div class="tab_nr hide">
					<ul>
						$label[ly_t3]
					</ul>
				</div>
				<div class="tab_nr hide">
					<ul>
						$label[ly_t4]
					</ul>
				</div>
			</div>  
			<div class="height_10"></div>
			
			<div class="block_severNav">
			    $label[ly_h1]
			</div>  
			<div class="height_10"></div>
			
			<div class="quicklyNav">
			    $label[ly_h2]
			</div>
		</div>
		<div class="height_10"></div>
		
		<div class="ad_floor">
		    $label[ly_ad3]
			 $label[ly_ad4]
		</div>
		<div class="height_10"></div>
		
		<div class="fl wrap_239 m_r10">
		    <div class="numList">
				<div class="tab_bt">
					<ul>
						<li><span>热门资源TOP榜</span></li>
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
					<ul>
						$label[ly_a1]
					</ul>
				</div>
			</div> 
		</div>
		
		<div class="fl wrap_239 m_r10">
		    <div class="block_twhd">
				<div class="tab_bt">
					<ul>
						<li><span>会员需求</span></li>
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
					<ul>
						$label[ly_p1]
					</ul>
				</div>
			</div> 
		</div>
		
		<div class="fl wrap_239">
		    <div class="block_twhd">
				<div class="tab_bt">
					<ul>
						<li><span>会员资源</span></li>
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
					<ul>
						$label[ly_p2]
					</ul>
				</div>
			</div> 
		</div>
		
		<div class="fr wrap_257">
		    <div class="scroll_y_demo">

				<div class="tab_bt" id="scroll_y_demo2">
						<ul>
							<li class="on"><span>资金1</span></li>
							<li><span>项目1</span></li>
							<li><span>代理1</span></li>
							<li><span>竞标1</span></li>
							<li><span>招标1</span></li>
							<li><span>资金2</span></li>
							<li><span>项目2</span></li>
							<li><span>代理2</span></li>
							<li><span>竞标2</span></li>
							<li><span>招标2</span></li>
						</ul>
					 
				</div>
				<span class="scrollPic_t_btn" id="prev_2"></span>
				<span class="scrollPic_b_btn" id="next_2"></span>

				<div class="tab_nr">
					<ul>
						$label[ly_a8]
					</ul>
				</div>
			</div> 
		</div>
		<div class="height_10"></div>
		
		<div class="ad_floor">
$label[ly_ad5]
$label[ly_ad6]
		</div>
		<div class="height_10"></div>
		
		<div class="fl wrap_239 m_r10">
		    <div class="block_hmhh">
				<div class="tab_bt">
					<ul>
						<li><span>华盟合伙人</span></li>
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
					<ul>
						<li>
$label[ly_p3]
						</li>
					</ul>
				</div>
			</div> 
		</div>
		
		<div class="fl wrap_487 m_r10">
		    <div class="block_zysl">
				<div class="tab_bt">
					<ul>
						<li class="on"><span>资源沙龙</span></li>
					</ul>
					<div class="block_key fr">
					    <a href="" class="colorGrey60_link">展会</a><span class="fgx">|</span><a href="" class="colorGrey60_link">学院派</a><span class="fgx">|</span><a href="" class="colorGrey60_link">讲座</a><span class="fgx">|</span><a href="" class="colorGrey60_link">更多&gt;&gt;</a>
					</div>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
					<ul class="fl">
						$label[ly_a2]
					</ul>
					<div class="fr m_t10">
					    $label[ly_ad7]
					</div>
					<div class="height_10"></div>
				</div>
			</div> 
			<div class="height_10"></div>
			
			<div class="block_tbTuan tab_demo3">
				<div class="tab_bt">
					<ul>
						<li class="on"><span>律师团</span></li>
						<li><span>培训团</span></li>
						<li><span>资金团</span></li>
						<li><span>网络团</span></li>
						<li><span>策划团</span></li>
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
					<ul>
					$label[ly_p4]	   
					</ul>
					<div class="height_20"></div>
				</div>
				
				<div class="tab_nr hide">
					<ul>
						$label[ly_p5]
					</ul>
					<div class="height_20"></div>
				</div>
				
				<div class="tab_nr hide">
					<ul>
						$label[ly_p6]
					</ul>
					<div class="height_20"></div>
				</div>
				
				<div class="tab_nr hide">
					<ul>
						$label[ly_p7]
					</ul>
					<div class="height_20"></div>
				</div>
				
				<div class="tab_nr hide">
					<ul>
						$label[ly_p8]
					</ul>
					<div class="height_20"></div>
				</div>
				
			</div>
		</div>
		
		<div class="fr wrap_257">
		    <div class="block_ty_yy tab_demo2">
				<div class="tab_bt">
					<ul>
						<li class="on"><span>同业联盟</span></li>
						<li><span>异业合作</span></li>
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">  
					<ul>
						<li>
							<div class="block_key">
					    $label[ly_p9] 
							</div>
						</li>
						<li>
						    <form>
							<div class="height_20"></div>
							<h4 class="colorRed p_b10 p_t10">可以在线填写资料报名</h4>
							<div class="height_20"></div>
							<table>
							    <tr>
								    <td width="60" class="t_r">用户名：</td>
									<td><input type="text" name="username" /></td>
								</tr>
								<tr>
								    <td class="t_r">手机：</td>
									<td><input type="text" name="phone" /></td>
								</tr>
								<tr>
								    <td class="t_r">内容：</td>
									<td><textarea name=""></textarea></td>
								</tr>
							
							</table>
							<div class="height_20"></div>
							<p class="t_c"><input type="submit" value="提交" /></p>
							<div class="height_20"></div>
							</form>
						</li>
					</ul>
				</div>
				<div class="tab_nr hide">  
					<ul>
						<li>
							<div class="block_key">
					    $label[ly_p10]
					</div>
						</li>
						<li>
						    <form>
							<div class="height_20"></div>
							<h4 class="colorRed p_b10 p_t10">可以在线填写资料报名</h4>
							<div class="height_20"></div>
							<table>
							    <tr>
								    <td width="60" class="t_r">用户名：</td>
									<td><input type="text" name="username" /></td>
								</tr>
								<tr>
								    <td class="t_r">手机：</td>
									<td><input type="text" name="phone" /></td>
								</tr>
								<tr>
								    <td class="t_r">内容：</td>
									<td><textarea name=""></textarea></td>
								</tr>
							
							</table>
							<div class="height_20"></div>
							<p class="t_c"><input type="submit" value="提交" /></p>
							<div class="height_20"></div>
							</form>
						</li>
					</ul>
				</div>
			</div> 
		</div>
		<div class="height_10"></div>
		
		<div class="ad_floor">
		    $label[ly_ad11]  
			$label[ly_ad12]  
		</div>
		<div class="height_10"></div>
		
		<div class="block_tabLm tab_demo4">
				<div class="tab_bt">
					<ul>
						<li class="on"><span>商学院学友会</span></li>
						<li><span>商会联盟</span></li>
						<li><span>行业协会联盟</span></li>
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
					<ul>
						 $label[ly_ad8]  
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr hide">
					<ul>
						$label[ly_ad9]
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr hide">
					<ul>
						$label[ly_ad10]
					</ul>
					<div class="clearboth"></div>
				</div>
					
		</div>
		<div class="height_10"></div>
		
		<div class="fl wrap_733">
		    <div class="block_hmsq">
				<div class="tab_bt">
					<ul>
						<li class="on"><span>华盟社区</span></li>
					</ul>
					<div class="block_key fr">
					    $label[ly_a3]
					</div>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
					<ul>
						<li class="fl">
							$label[ly_p11]
						</li>
						<li class="fr">
						    <h4>财富故事</h4>
							<div class="">
							   $label[ly_a4]
							</div>
							<div class="height_10"></div>
							
							<h4>最新动态</h4>
							<div class="">
							   $label[ly_a5]
							</div>
							<div class="height_10"></div>
							
							<h4>论坛</h4>
							<div class="">
							   $label[ly_a6]
							</div>
						</li>
						
					</ul>
					<div class="clearboth"></div>
				</div>
			</div> 
			
		</div> 

		<div class="fr wrap_257">
		    <div class="block_cxffs">
				<div class="tab_bt">
					<ul>
						<li class="on"><span>诚信服务商</span></li>
					</ul>
					<div class="block_key fr">
					   $label[ly_a7]
					</div>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
					<ul>
						<li>
							$label[ly_p12]
							<span class="clearboth"></span>
						</li>
						
					</ul>
				</div>
			</div>  
		</div>
		<div class="height_10"></div>
		
	</div>	
</div>


<script type="text/javascript" src="$webdb[www_url]/images/style5.1/index/js/jcarousellite.js"></script>
<script type="text/javascript" src="$webdb[www_url]/images/style5.1/index/js/jquery.tabs.js"></script>



<!--
EOT;
?>
-->