<!--
<?php
print <<<EOT
-->



<div class="container_m">
	<div class="w">
	    <div class="height_10"></div>
		
		<div class="fl wrap_194 m_r10">
		    <div class="block_noTabList block_twhd">
				<div class="tab_bt">
					<ul>
						<li><em></em><span>行业资讯</span></li>
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
					<ul>
						$label[i1]
					</ul>
				</div>
			</div> 
		</div>
		
	    <div class="fl wrap_562 m_r10">
			<div class="ScrollTab_demo tab_demo7">
			    <div class="tab_bt ScrollTab_bt">
				    <ul>
					    <li class="first on"><span>采购会</span></li>
					    <li class=""><span>分销会</span></li>
						<li><span>代理会</span></li>
						<li  class="last"><span>某某会</span></li>
					</ul>
				</div>
				<div class="height_10"></div>
				<div id="ad_alpha_1" class="tab_nr ScrollTab_nr ScrollTab_top">  
					<ul>
$label[i2]
                            
					</ul>					
					<dl style="display:none;">
                          
                            <dt class="on" >窝窝考拉开张啦</dt>
                            
                            <dt class="">六一专场</dt>
                            
                            <dt class="no_border">享生活 享健康</dt>     	                 	
					</dl>
			  </div>
			  
			    <div id="ad_alpha_2" class="tab_nr ScrollTab_nr ScrollTab_top">  
					<ul>
                            $label[i3]
                            
					</ul>					
					<dl style="display:none;">
                          
                            <dt class="on" >窝窝考拉开张啦</dt>
                            
                            <dt class="">六一专场</dt>
                            
                            <dt class="no_border">享生活 享健康</dt>     	                 	
					</dl>
			  </div>
			  
			    <div id="ad_alpha_3" class="tab_nr ScrollTab_nr ScrollTab_top">  
					<ul>
                            $label[i4]
                            
					</ul>					
					<dl style="display:none;">
                          
                            <dt class="on" >窝窝考拉开张啦</dt>
                            
                            <dt class="">六一专场</dt>
                            
                            <dt class="no_border">享生活 享健康</dt>     	                 	
					</dl>
			  </div>
			  
			    <div id="ad_alpha_4" class="tab_nr ScrollTab_nr ScrollTab_top">  
					<ul>
                            $label[i5]
                            
					</ul>					
					<dl style="display:none;">
                          
                            <dt class="on" >窝窝考拉开张啦</dt>
                            
                            <dt class="">六一专场</dt>
                            
                            <dt class="no_border">享生活 享健康</dt>     	                 	
					</dl>
			  </div>
			</div> 
		  <div class="block_scrollPic_x block_scrollPic_xTop">
				<div class="scrollPic_x_area" id="scroll_x_demo1">
					<ul>
						$label[i6]
						
					</ul>
			  </div> 
			   <span class="scrollPic_l_btn" id="prev_1"><em></em><i></i></span>
			   <span class="scrollPic_r_btn" id="next_1"><em></em><i></i></span>			</div> 
		</div>
		<div class="fr wrap_224">
		    <div class="tab_demo1 blockActive">
				<div class="tab_bt">
					<ul>
						<li class="first on"><span>活动</span></li>
						<li><span>公告联盟</span></li>
						<li><span>商机</span></li>
						<li class="last"><span>资讯</span></li>
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
					<ul>
						$label[i7]
					</ul>
				</div>
				<div class="tab_nr hide">
					<ul>
						$label[i8]
					</ul>
				</div>
				<div class="tab_nr hide">
					<ul>
						$label[i9]
					</ul>
				</div>
				<div class="tab_nr hide">
					<ul>
						$label[i10]
					</ul>
				</div>
			</div>  
			
			<div class="block_publish m_t10">
			    <a href="/sell/member/post_choose.php" class="first"><em></em>我要发布</a>
				<a href="/sell/member/post_choose.php" class="last"><em></em>发布资源</a>
			</div>  
			
			<div class="block_severNav m_t10">
			  $label[i39]
			</div>  
			
			<div class="quicklyNav m_t10">
			    <a href="/hy/reg.php"><em></em><strong>华盟会员企业专区</strong></a>
				<a href="/do/reg.php?step=1" class="last"><em></em><strong>华盟会员产品专区</strong></a>
			</div>
		</div>
		<div class="height_10"></div>
		
		<div class="block_friendPic" id="scroll_div_1">
			<div class="block_friendPicGroup scroll_div">
				<ul class="fl scroll_begin">
					$label[i11]
					
				</ul>
				<ul class="fl scroll_end"></ul>
			</div>
		</div>
		<div class="height_10"></div>
		
		<div class="publick_hd">
		    <h3 class="fl"><span class="p_l10">资源区</span></h3>
			<div class="fl keyHot">
			    <a href="" class="colorBlue_link">按时间</a><span class="colorBlue fgx">|</span>
				<a href="" class="colorBlue_link">按地区</a><span class="colorBlue fgx">|</span>
				<a href="" class="colorBlue_link">按诚信度</a>
			</div>
			<a href="" class="fr colorGrey60_link moreBtn">更多&gt;&gt;</a>
		</div>
		<div class="fl wrap_250 m_r10">
		    <div class="block_noTabList block_rmzy">
				<div class="tab_bt">
					<ul>
						<li><em></em><span>热门资源TOP榜</span></li>
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
					<ul id="tip_1">
						$label[i12]
						
					</ul>
				</div>
			</div> 
		</div>
		
		<div class="fl wrap_250 m_r10">
		    <div class="block_noTabList block_hyxq">
				<div class="tab_bt">
					<ul>
						<li><em></em><span>会员需求</span></li>
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
					<ul id="tip_2">
						$label[i13]
					</ul>
				</div>
			</div> 
		</div>
		
		<div class="fl wrap_250 m_r10">
		    <div class="block_noTabList block_hyzy">
				<div class="tab_bt">
					<ul>
						<li><em></em><span>会员资源</span></li>
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
					<ul id="tip_3">
						$label[i14]
					</ul>
				</div>
			</div> 
		</div>
		
		<div class="fl wrap_220">
		    <div class="block_repeatYTab">
			    <a href="javascript:void(0);" class="repeatYTab_btn repeatYTab_btn_up" id="prev_2"></a>
				<a href="javascript:void(0);" class="repeatYTab_btn repeatYTab_btn_down" id="next_2"></a>
				<div class="repeatYTab_bt" id="scroll_y_demo2">
					<ul>
						<li><span>资金</span></li>
						<li class="on"><span>项目</span></li>
						<li><span>代理</span></li>
						<li><span>竞标</span></li>
						<li><span>招标</span></li>
						<li><span>资金</span></li>
						<li><span>项目</span></li>
						<li><span>代理</span></li>
						<li><span>竞标</span></li>
						<li><span>招标</span></li>
						<li><span>资金</span></li>
						<li><span>项目</span></li>
						<li><span>代理</span></li>
						<li><span>竞标</span></li>
						<li><span>招标</span></li>
					</ul>
				</div>
				<div class="tab_nr">
					<ul>
						$label[i15]
					</ul>
				</div>
			</div> 
		</div>
		<div class="height_10"></div>
		
		<div class="classMenuBorder">
			<div class="classMenu">
				<div class="foreList">
					<dl>
						<dt><a href="" class="colorGrey20_link">资金资源:</a></dt>
						<dd>
							<a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a>
						</dd>
					</dl>
					<a href="" class="moreBtn">更多&nbsp;+</a>
				</div>
				<div class="foreList">
					<dl>
						<dt><a href="" class="colorGrey20_link">人才资源:</a></dt>
						<dd>
							<a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a>
						</dd>
					</dl>
					<a href="" class="moreBtn">更多&nbsp;+</a>
				</div>
				<div class="foreList">
					<dl>
						<dt><a href="" class="colorGrey20_link">人脉资源:</a></dt>
						<dd>
							<a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a>
						</dd>
					</dl>
					<a href="" class="moreBtn">更多&nbsp;+</a>
				</div>
				<div class="foreList">
					<dl>
						<dt><a href="" class="colorGrey20_link">渠道资源:</a></dt>
						<dd>
							<a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a>
						</dd>
					</dl>
					<a href="" class="moreBtn">更多&nbsp;+</a>
				</div>
				<div class="foreList">
					<dl>
						<dt><a href="" class="colorGrey20_link">土地资源:</a></dt>
						<dd>
							<a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a>
						</dd>
					</dl>
					<a href="" class="moreBtn">更多&nbsp;+</a>
				</div>
				<div class="foreList">
					<dl>
						<dt><a href="" class="colorGrey20_link">媒体资源:</a></dt>
						<dd>
							<a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a>
						</dd>
					</dl>
					<a href="" class="moreBtn">更多&nbsp;+</a>
				</div>
				<div class="foreList">
					<dl>
						<dt><a href="" class="colorGrey20_link">技术资源:</a></dt>
						<dd>
							<a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a>
						</dd>
					</dl>
					<a href="" class="moreBtn">更多&nbsp;+</a>
				</div>
				<div class="foreList">
					<dl>
						<dt><a href="" class="colorGrey20_link">其他资源:</a></dt>
						<dd>
							<a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a><a href="" class="colorBlue_link">某某某资源</a>
						</dd>
					</dl>
					<a href="" class="moreBtn">更多&nbsp;+</a>
				</div>
			</div>
		</div>
		<div class="height_10"></div>
		
		<div class="block_friendPic" id="scroll_div_2">
			<div class="block_friendPicGroup scroll_div">
				<ul class="fl scroll_begin">
					$label[i17]
				</ul>
				<ul class="fl scroll_end"></ul>
			</div>
		</div>
		<div class="height_10"></div>
		
		<div class="publick_hd">
		    <h3 class="fl"><span class="p_l10">资源平台</span></h3>
			<a href="" class="fr colorGrey60_link moreBtn">更多&gt;&gt;</a>
		</div>
		<div class="fl wrap_194 m_r10">
		    <div class="block_noTabList block_twhd block_lmhhr">
				<div class="tab_bt">
					<ul>
						<li><em></em><span>联盟合伙人</span></li>
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
					<ul>
						$label[i18]

					</ul>
				</div>
			</div> 
		</div>
		
	    <div class="fl wrap_562 m_r10">
			<div class="block_noTabList block_zysl">
			    <div class="tab_bt">
					<ul class="fl">
						<li><em></em><span>资源沙龙</span></li>
					</ul>
					<div class="fl keyHot">
					<a href="" class="colorBlue_link">按时间</a><span class="colorBlue fgx">|</span>
				<a href="" class="colorBlue_link">按地区</a><span class="colorBlue fgx">|</span>
				<a href="" class="colorBlue_link">按诚信度</a>
					</div>
					<a href="" class="fr colorGrey60_link moreBtn">更多&gt;&gt;</a>
					<div class="clearboth"></div>
				</div>
				<div class="height_10"></div>
				<div id="ad_banner_5" class="ScrollTab_nr">  
					<ul>
                         $label[i19]   
                         
                            
					</ul>					
					<dl>
                          
                            <dt class="on" >窝窝考拉开张啦</dt>
                            
                            <dt class="">六一专场</dt>
                            
                            <dt class="no_border">享生活 享健康</dt>     	                 	
					</dl>
			  </div>
			</div> 
			<div class="block_scrollPic_x">
				<div class="scrollPic_x_area" id="scroll_x_demo3">
					<ul>
						 $label[i20]   
					</ul>
			  </div> 
				 <span class="scrollPic_l_btn" id="prev_3"><em></em><i></i></span>
			   <span class="scrollPic_r_btn" id="next_3"><em></em><i></i></span>
				 
				 <div class="zysl_list">
				 	<ul class="fl" id="tip_4">
						$label[i21]  
					</ul>
					<ul class="fr" id="tip_5">
						$label[i22] 
					</ul>
					<div class="clearboth"></div>
				</div>
			</div> 
		</div>
		<div class="fr wrap_224">
		    <div class="tab_demo2 blockActive block_hz">
				<div class="tab_bt">
					<ul>
						<li class="first on"><span>同业联盟</span></li>
						<li><span>异业合作</span></li>
						<li class="last"><span>其他选项</span></li>
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
				    <div class="tab_subMenu">
					    <a href="" class="colorBlue_link">竞标联盟</a><a href="" class="colorBlue_link">行业资讯</a><a href="" class="colorBlue_link">竞标联盟</a>
						<a href="" class="colorBlue_link">竞标联盟</a><a href="" class="colorBlue_link">行业资讯</a><a href="" class="colorBlue_link">竞标联盟</a>
						<span class="clearboth"></span>
					</div>
					<div class="height_10"></div>
					<ul>
						$label[i23] 
						
					</ul>
				</div>
				<div class="tab_nr hide">
				    <div class="tab_subMenu">
					    <a href="" class="colorBlue_link">竞标联盟</a><a href="" class="colorBlue_link">行业资讯</a><a href="" class="colorBlue_link">竞标联盟</a>
						<a href="" class="colorBlue_link">竞标联盟</a><a href="" class="colorBlue_link">行业资讯</a><a href="" class="colorBlue_link">竞标联盟</a>
						<span class="clearboth"></span>
					</div>
					<div class="height_10"></div>
					<ul>
						$label[i24] 
					</ul>
				</div>
				<div class="tab_nr hide">
				    <div class="tab_subMenu">
					    <a href="" class="colorBlue_link">竞标联盟</a><a href="" class="colorBlue_link">行业资讯</a><a href="" class="colorBlue_link">竞标联盟</a>
						<a href="" class="colorBlue_link">竞标联盟</a><a href="" class="colorBlue_link">行业资讯</a><a href="" class="colorBlue_link">竞标联盟</a>
						<span class="clearboth"></span>
					</div>
					<div class="height_10"></div>
					<ul>
						$label[i25] 
					</ul>
				</div>
			</div>  	
		</div>
		<div class="height_10"></div>
		
		<div class="fl wrap_495 m_r10">
			<div class="block_tbTuan blockActive tab_demo3">
					<div class="tab_bt">
						<ul>
							<li class="first on"><span>律师团</span></li>
							<li><span>培训团</span></li>
							<li><span>资金团</span></li>
							<li><span>网络团</span></li>
							<li><span>策划团</span></li>
						</ul>
						<a href="" class="fr colorGrey60_link moreBtn">更多&gt;&gt;</a>
						<div class="clearboth"></div>
					</div>
					<div class="tab_nr">
						<ul>
							<li class="li1">
								<div class="proList proList_1">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="208" height="124" alt="" />									</div>
									<div class="proName">
										高级白领50万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li2">
								<div class="proList proList_2">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="273" height="175" alt="" />									</div>
									<div class="proName">
										高级白领50万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li3">
								<div class="proList  proList_3">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="208" height="154" alt="" />									</div>
									<div class="proName">
										高级白领50万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li4">
								<div class="proList proList_4">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="135" height="103" alt="" />									</div>
									<div class="proName">
										高级白领50万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li5">
								<div class="proList proList_5">
									<div class="proPic"></div>
									<a href="">查看更多&gt;&gt;</a>								</div>
							</li>
						</ul>
						<div class="clearboth"></div>
					</div>
					
					<div class="tab_nr hide">
						<ul>
							<li class="li1">
								<div class="proList proList_1">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="208" height="124" alt="" />									</div>
									<div class="proName">
										高级白领50万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li2">
								<div class="proList proList_2">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="273" height="175" alt="" />									</div>
									<div class="proName">
										高级白领50万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li3">
								<div class="proList  proList_3">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="208" height="154" alt="" />									</div>
									<div class="proName">
										高级白领50万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li4">
								<div class="proList proList_4">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="135" height="103" alt="" />									</div>
									<div class="proName">
										高级白领50万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li5">
								<div class="proList proList_5">
									<div class="proPic"></div>
									<a href="">查看更多&gt;&gt;</a>								</div>
							</li>
						</ul>
						<div class="clearboth"></div>
					</div>
					
					<div class="tab_nr hide">
						<ul>
							<li class="li1">
								<div class="proList proList_1">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="208" height="124" alt="" />									</div>
									<div class="proName">
										高级白领50万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li2">
								<div class="proList proList_2">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="273" height="175" alt="" />									</div>
									<div class="proName">
										高级白领50万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li3">
								<div class="proList  proList_3">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="208" height="154" alt="" />									</div>
									<div class="proName">
										高级白领50万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li4">
								<div class="proList proList_4">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="135" height="103" alt="" />									</div>
									<div class="proName">
										高级白领50万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li5">
								<div class="proList proList_5">
									<div class="proPic"></div>
									<a href="">查看更多&gt;&gt;</a>								</div>
							</li>
						</ul>
						<div class="clearboth"></div>
					</div>
					
					<div class="tab_nr hide">
						<ul>
							<li class="li1">
								<div class="proList proList_1">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="208" height="124" alt="" />									</div>
									<div class="proName">
										高级白领50万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li2">
								<div class="proList proList_2">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="273" height="175" alt="" />									</div>
									<div class="proName">
										高级白领50万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li3">
								<div class="proList  proList_3">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="208" height="154" alt="" />									</div>
									<div class="proName">
										高级白领50万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li4">
								<div class="proList proList_4">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="135" height="103" alt="" />									</div>
									<div class="proName">
										高级白领50万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li5">
								<div class="proList proList_5">
									<div class="proPic"></div>
									<a href="">查看更多&gt;&gt;</a>								</div>
							</li>
						</ul>
						<div class="clearboth"></div>
					</div>
					
					<div class="tab_nr hide">
						<ul>
							<li class="li1">
								<div class="proList proList_1">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="208" height="124" alt="" />									</div>
									<div class="proName">
										高级白领80万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li2">
								<div class="proList proList_2">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="273" height="175" alt="" />									</div>
									<div class="proName">
										高级白领80万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li3">
								<div class="proList  proList_3">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="208" height="154" alt="" />									</div>
									<div class="proName">
										高级白领80万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li4">
								<div class="proList proList_4">
									<div class="proPic">
										<img class="fl" src="/images/style5.1/index/img/index+20130905_69.jpg" width="135" height="103" alt="" />									</div>
									<div class="proName">
										高级白领50万创造最大价值									</div>
									<div class="proDetail hide">
										<em>8张图片</em>
										<span class="thickdiv"></span>									</div>
									<a href=""></a>								</div>
							</li>
							
							<li class="li5">
								<div class="proList proList_5">
									<div class="proPic"></div>
									<a href="">查看更多&gt;&gt;</a>								</div>
							</li>
						</ul>
						<div class="clearboth"></div>
					</div>
					
			</div>
		</div>
		
		<div class="fl wrap_495">
			<div class="blockActive blockCpjy tab_demo4">
					<div class="tab_bt">
						<ul>
							<li class="first on"><span>对接案例</span></li>
							<li><span>联盟合作</span></li>
							<li><span>产品交易</span></li>
						</ul>
						<a href="" class="txzywj">填写资源问卷</a>
						<a href="" class="kfpt">客服平台</a>
						<a href="" class="fr colorGrey60_link moreBtn">更多&gt;&gt;</a>
						<div class="clearboth"></div>
					</div>
					<div class="tab_nr">
						<ul>
							$label[i26]
							
							
							
							
						</ul>
						<div class="clearboth"></div>
					</div>
					<div class="tab_nr hide">
						<ul>
							$label[i27]
						</ul>
						<div class="clearboth"></div>
					</div>
					<div class="tab_nr hide">
						<ul>
							$label[i28]
						</ul>
						<div class="clearboth"></div>
					</div>
					
			</div>
		</div>
		<div class="height_10"></div>
		
		<div class="publick_hd">
		    <h3 class="fl"><span class="p_l10">商学院学友会</span></h3>
			<div class="fl keyHot">
			    <a href="" class="colorBlue_link">商会联盟</a><span class="colorBlue fgx">|</span>
				<a href="" class="colorBlue_link">行业协会联盟</a>
			</div>
			<a href="" class="fr colorGrey60_link moreBtn">更多&gt;&gt;</a>
		</div>
		<div class="w">
			<div class="blockActive blockXyhTab tab_demo5">
					<div class="tab_bt">
						<ul>
							<li class="first on"><span>base实践家</span></li>
							<li><span>NLP</span></li>
							<li><span>聚成</span></li>
						</ul>
						<div class="clearboth"></div>
					</div>
					<div class="tab_nr">
						<ul>
							$label[i29]
						</ul>
						<div class="clearboth"></div>
					</div>
					
					<div class="tab_nr hide">
						<ul>
							$label[i30]
						</ul>
						<div class="clearboth"></div>
					</div>
					
					<div class="tab_nr hide">
						<ul>
							$label[i31]
						</ul>
						<div class="clearboth"></div>
					</div>
					
			</div>
		</div>
		<div class="height_10"></div>
		
		<div class="block_friendPic" id="scroll_div_3">
			<div class="block_friendPicGroup scroll_div">
				<ul class="fl scroll_begin">
					$label[i32]
				</ul>
				<ul class="fl scroll_end"></ul>
			</div>
		</div>
		<div class="height_10"></div>
		
		<div class="fr wrap_224">
		    <div class="block_noTabList block_cxfws_bt">
				<div class="tab_bt">
					<ul>
						<li><em></em><span>诚信服务商</span></li>
					</ul>
					<div class="clearboth"></div>
				</div>
			</div>
		    <div class="tab_demo6 blockActive block_cxfwsTab">
				<div class="tab_bt">
					<ul>
						<li class="first on"><span>高信誉企业</span></li>
						<li><span>最新会员</span></li>
						<li class="last"><span>家人动态</span></li>
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
					<ul>
						$label[i33]
						
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr hide">
				    <ul>
						$label[i34]
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr hide">
				   <ul>
						$label[i35]
					</ul>
					<div class="clearboth"></div>
				</div>
			</div>  	
		</div>
		
		<div class="publick_hd block_hmsq_hd fl">
		    <h3 class="fl"><span class="p_l10">华盟社区</span></h3>
			<div class="fl keyHot">
			    <a href="" class="colorBlue_link">老板思维</a><span class="colorBlue fgx">|</span>
				<a href="" class="colorBlue_link">企业提升</a>
				<span class="colorBlue fgx">|</span>
				<a href="" class="colorBlue_link">员工管理</a>
				<span class="colorBlue fgx">|</span>
				<a href="" class="colorBlue_link">商人圈</a>
				<span class="colorBlue fgx">|</span>
				<a href="" class="colorBlue_link">草根创业</a>
				<span class="colorBlue fgx">|</span>
				<a href="" class="colorBlue_link">精品课程</a>
				<span class="colorBlue fgx">|</span>
				<a href="" class="colorBlue_link">精英团队</a>
			</div>
			<a href="" class="fr colorGrey60_link moreBtn">更多&gt;&gt;</a>
		</div>
		
		<div class="fl wrap_766 m">
		    <div class="block_cxfws_List">
					<ul class="block_cxfws_picList">
						$label[i36]
					</ul>
					
					<div class="block_noTabList block_cxfws_txtList">
						<div class="tab_nr">
							<ul>
								$label[i37]
								
								
							</ul>
							<div class="clearboth"></div>
						</div>
					</div> 
				
				
			</div>
		
		</div>
		<div class="height_10"></div>
		
		<div class="block_friendPic" id="scroll_div_4">
			<div class="block_friendPicGroup scroll_div">
				<ul class="fl scroll_begin">
					$label[i38]
				</ul>
				<ul class="fl scroll_end"></ul>
			</div>
		</div>
		<div class="height_10"></div>
		
		<div class="w">
		    <div class="block_noTabList block_friendLink">
				<div class="tab_bt">
					<ul>
						<li><em></em><span>友情链接</span></li>
					</ul>
					<div class="clearboth"></div>
				</div>
				<div class="tab_nr">
					$label[i40]
				</div>
			</div> 
		</div>
		<div class="height_10"></div>
		
	</div>	
</div>





<!--
EOT;
?>
-->