<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--<?php
$thiscityname = $city_DB[name][$city_id] ? $city_DB[name][$city_id] : "&nbsp;";
$GuideFid[$fid]=str_replace("<a href='$webdb[www_url]' class='guide_menu'>&gt;首页</a>","",$GuideFid[$fid]);
$bodyondblclick = (function_exists('label_array')&&$web_admin&&!$MakeIndex) ?"dblclick_label();":"";
$changecity = count($city_DB[name])>1 ? "<a href=\"$webdb[www_url]/allcity.php\">[切换城市]</a>":"当前城市";
print <<<EOT
-->
<head>
<title>$titleDB[title]</title>
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/style5.1/style.css">
<link id="themecss" rel="stylesheet" type="text/css" href="$webdb[www_url]/images/style5.1/css2.css">
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/default/cms.css">
<link rel="shortcut icon" type="image/ico" href="$webdb[www_url]/images/css4.0/favicon.ico">


<link href="$webdb[www_url]/images/style5.1/index/css/reset.css" type="text/css" rel="stylesheet" />

<!--
EOT;
if(isset($CURMODE) && $CURMODE=="index"){
print <<<EOT
-->
<link href="$webdb[www_url]/images/style5.1/index/css/public.css" type="text/css" rel="stylesheet" />
<!--
EOT;
}
print <<<EOT
-->


<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="keywords" content="$titleDB[keywords]">
<meta name="description" content="$titleDB[description]">
</head>
<SCRIPT LANGUAGE="JavaScript">
function killErr(){
	return true;
}
window.onerror=killErr;
</SCRIPT>
<!--
EOT;
if($webdb[cookieDomain]){print <<<EOT
-->
<SCRIPT LANGUAGE="JavaScript">
//解决不同域名的框架跨域问题
document.domain = "$webdb[cookieDomain]";
</SCRIPT>
<!--
EOT;
}
$web_logo=($city_DB[logo][$city_id])?"<img src='tempdir($city_DB[logo][$city_id])'/>":"<span><em><img src='$webdb[www_url]/images/style5.1/logo.gif'/></em></span>";
print <<<EOT
-->
<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/jquery-1.2.6.min.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/default.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/swfobject.js"></SCRIPT>
<script type="text/javascript" src="$webdb[www_url]/images/style5.1/sliding.js"></script>
<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/jscroll.js"></SCRIPT>






<body ondblclick="$bodyondblclick" class="$index_body">

<div class="container_topNav">
    <div class="w">
		<ul>
		    <li class="fl">
			
	<SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<span id="top_loginer"><div class="showmsg">$Load_Msg</div></span>');
document.write('<div style="display:none;"><iframe src="$webdb[www_url]/do/hack.php?hack=login&styletype=login&iframeID=top_loginer" width=0 height=0></iframe></div>');
//-->
</SCRIPT>  		
			
			
			
			</li>
			<li class="fr"><a href="" class="colorGrey60_link">我的联盟</a><span class="fgx">|</span><a href="" class="colorGrey60_link">联盟服务</a><span class="fgx">|</span><a href="" class="colorGrey60_link">收藏</a><span class="fgx">|</span><a href="" class="colorGrey60_link">帮助</a><span class="fgx">|</span><a href="" class="colorGrey60_link">导航</a></li>    
		</ul>
	</div>
</div>
<div class="container_h">
    <div class="w">
		 <h3 class="fl logo png" onclick="location.href='/'">华人诚信联盟</h3>
		 <div class="fl cityChange">
			 <strong class="colorGrey40">{$thiscityname}</strong><br />
			 <span class="pointer" onclick="location.href='/allcity.php'">切换城市</span>
		 </div>
		 <div class="fr search_block">
			 <div class="search_bt"><a href="">供应</a><span class="fgx">|</span><a href="">需求</a><span class="fgx">|</span><a href="">代理加盟</a><span class="fgx">|</span><a href="">商学院</a><span class="fgx">|</span><a href="">产品</a><span class="fgx">|</span><a href="">公司</a></div>
			 <div class="search_wrap">
				
				 <form name="MainSearch" id="searchForm" target="_blank" method="post" action="$webdb[www_url]/f/search.php?action=search">
				 <ul>
					 <li class="fl menu_options">
					 	<strong class="colorGrey40">代理加盟</strong>
						<input type="hidden" value="" />
						<div class="selectMenu hide">
						    <span>供应</span>
							<span>需求</span>
							<span>代理加盟</span>
							<span>商学院</span>
						</div>
					 </li>
					 <li class="fl search_input"><input name="keyword" type="text" value="高级白领50万创造最大价值" onClick="if(this.value.indexOf('高级白领50万创造最大价值')!=-1)this.value=''"/></li>
					 <li class="fl subBtn"><a href="javascript:void(0);" onclick="$('#searchForm').submit();">搜索</a></li>
				 
				 </ul>
				 		<input name=ct value=0 type=hidden>
		<input name=si type=hidden value="">
<!--把ct值设置为2097152，把si的域名换成你的，就可以在百度收录中查找你站内的内容-->
				 <span id="MySiteDomain" style="display:none">$webdb[_www_url]</span>
				 </form>
			 </div>
			 <div class="search_key"><a href="" class="colorGrey60_link">项目</a>  <a href="" class="colorGrey60_link">资金</a>  <a href="" class="colorGrey60_link">技术</a>  <a href="" class="colorGrey60_link">土地</a><a href="" class="colorGrey60_link"> 媒体</a>  <a href="" class="colorGrey60_link">人脉</a>  <a href="" class="colorGrey60_link">渠道</a>  <a href="" class="colorGrey60_link">其他</a><span class="fgx">|</span><a href="" class="colorBlue_red">热门资源TOP榜</a>
	</div>
		 </div>
		 <div class="clearboth"></div>
	</div>
</div>

<div class="container_nav">
    <div class="w">
		<div class="mainNav" id="mainNav">
			 $label[ly_nav]
			 <div class="clearboth"></div>
			 <div class="classNav" style="display:none;">
				<h4><a href="">资源分类</a></h4>
				<dl>
					<dt>行业资源</dt>
					<dd><a href="">旅游住宿</a><a href="">餐饮房产</a><a href="">银行信托</a><a href="">批发零售</a><a href="">证券保险</a><a href="">服装鞋袜</a><a href="">教育培训</a><a href="">机械制造</a><a href="">造纸印刷</a></dd>
				</dl>
			</div>
		</div>
		$label[ly_nav2]

	</div>
</div>
<script type="text/javascript" src="$webdb[www_url]/images/style5.1/heads.js"></script>

<SCRIPT LANGUAGE="JavaScript">
<!--
function checkpost(){
	if($("#MainSearch .keyword input").val() ==""){
		alert('关键字不能为空!');
		return false;
	}
}
//目的是为了做风格方便
document.write('<div class="wrap">');
//-->
</SCRIPT>

<!--
EOT;
?>
-->

