<!--
<?php
$city_DB[copyright][$city_id] && $webdb[copyright]=stripslashes($city_DB[copyright][$city_id]);
$webdb[copyright] && $webdb[copyright].='</br>';
print <<<EOT
-->
<SCRIPT LANGUAGE="JavaScript">
function selectsearch(theA,word){
	obj=document.getElementById("selectsearch").getElementsByTagName("a");
	for(var i=0;i< obj.length;i++ ){
		obj[i].className='';
	}
	theA.className='choose';
	document.getElementById("searchtype").value=word;
}

$("input[type='submit']").each(function(i){
	this.className='buttonStyle';
});
$("input[type='button']").each(function(i){
	this.className='buttonStyle';
});
</SCRIPT>

<SCRIPT LANGUAGE="JavaScript">
clickEdit.init(); //生成一些快速操作按钮
get_cache_button("$webdb[ComebackDate]");	//生成表单中的数据恢复按钮
</SCRIPT>

<SCRIPT LANGUAGE="JavaScript">
<!--//目的是为了做风格方便
document.write('</div>');
//-->
</SCRIPT>
<script type="text/javascript" src="$webdb[www_url]/images/style5.1/index/js/frontIndex.js"></script>
<div class="container_f">
$label[ly_ft]
</div>

<!--
EOT;
?>
--> 
</body>
</html>