.ClearDiv{
	clear:both;
}
.MainLists{
	clear:both;
	margin-top:10px;
}
.MainLists .MainL{
	width:730px;
	float:left;
}
.MainLists .SideR{
	width:240px;
	float:right;
}
.SelectSortid{
	margin-bottom:10px;	
	padding-bottom:10px;
	background:url(contbg1.gif) center bottom no-repeat;	
}
.SelectSortid dl{
	height:30px;
	padding:10px 0 0 20px;
	overflow:hidden;
	background:url(contbg1.gif) center top no-repeat;
}
.SelectSortid dl dt{
	float:left;
	height:30px;
	line-height:32px;
	font-size:14px;
}
.SelectSortid dl dd{
	width:620px;
	height:30px;
	float:left;
}
.SelectSortid dl dd div{
	float:left;
	height:30px;
	padding-left:10px;
	background:url(sub5.gif) no-repeat;
	margin-right:5px;
}	
.SelectSortid dl dd div a{
	display:block;
	float:left;
	padding:2px 10px 0 0;
	line-height:28px;
	background:url(sub5.gif) right top no-repeat;
	font-size:14px;
} 
.SelectSortid dl dd div.ck{
	background:url(sub6.gif) no-repeat;
}
.SelectSortid dl dd div.ck a{
	background:url(sub6.gif) right top no-repeat;
	font-weight:bold;
	color:#FF6000;
}
.SelectSortid .ListZone{
	height:26px;
	padding:10px 10px 0 10px;
	overflow:hidden;
	background:url(contbg1.gif) center top no-repeat;
}
.SelectSortid .ListZone div{
	height:26px;
	padding-left:10px;
	background:url(zone1.gif) left 21px repeat-x;
	line-height:26px;
}
.SelectSortid .ListZone div span{
	display:block;
	float:left;
	padding-left:5px;
}
.SelectSortid .ListZone div span a{
	display:block;
	float:left;
	padding-right:5px;
}
.SelectSortid .ListZone div span.ck{
	background:url(zone1.gif) left -4px no-repeat;
}
.SelectSortid .ListZone div span.ck a{
	background:url(zone1.gif) right -4px no-repeat;
	font-weight:bold;
	color:#FF6000;
}
.SelectSortid .ListStreet{
	padding:0 10px 0 10px;
	background:url(contbg1.gif) center -25px no-repeat;
	height:40px;
	overflow:hidden; 
}
.SelectSortid .ListStreet div{
	padding:3px 5px 2px 10px;
	background:#EFEFEF;
	line-height:16px;
}
.SelectSortid .ListStreet div a.ck{
	color:red;
}
.ListCont{
	border:#D3DBE6 solid 2px;
}
.ListCont .head{
	padding:20px 0 15px 20px;
	font-size:20px;
	font-weight:bold;
}
.ListCont .cont{
	padding:5px 15px 15px 15px;
}
.ListCont .cont .list{
	height:30px;
	line-height:30px;
	overflow:hidden;
	padding-left:15px;
	background:url(print.gif) 5px 12px no-repeat;
}
.ListCont .cont .list a{
	float:left;
	font-size:14px;
}
.ListCont .cont .list span{
	float:right;
	color:#888;
}
.ListCont .cont .spac{
	height:30px;
}
.ListCont .cont .listInfo{
	height:30px;
	padding-top:10px;
}
.ListCont .cont .listInfo .info{
	float:left;
	line-height:30px;
}
.ListCont .cont .listInfo .info span{
	font-size:20px;
	font-weight:bold;
	color:#FF6000;
}
.ListCont .cont .listInfo .showpage{
	float:right;
	line-height:30px;
}
.ListCont .cont .listInfo .showpage a{
	border:#DDD solid 1px;
	padding:3px 5px 2px 5px;
	color:#888;
}
.sideconts .head{
	height:32px;
	overflow:hidden;
	background:url(contbg1.gif) right top no-repeat;
}
.sideconts .head .tag{
	float:left;
	padding:2px 0 0 10px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	background:url(contbg1.gif) no-repeat;
}
.sideconts .cont{
	border:#D0D0D0 solid 1px;
	padding:10px;
}
.sideconts .cont .listpic{
	width:108px;
	height:100px;
	overflow:hidden;
	float:left;
	padding-top:5px;
}
.sideconts .cont .listpic .img{
	width:90px;
	border:#DDD solid 1px;
	padding:2px;
	margin:auto;
}
.sideconts .cont .listpic .img span{
	display:block;
	width:90px;
	height:70px;
	overflow:hidden;
}
.sideconts .cont .listpic .img span a{
	display:block;
	width:120px;
	height:70px;
	text-align:center;
	margin-left:-15px;
	background:#EFEFEF;
	overflow:hidden;
}
.sideconts .cont .listpic .t{
	width:100px;
	height:20px;
	line-height:20px;
	text-align:center;
	overflow:hidden;
	padding-top:5px;
	margin:auto;
}
.sideconts .cont .list{
	clear:both;
	height:25px;
	line-height:25px;
	overflow:hidden;
}
.sideconts .cont .list span{
	color:#FF6000;
}
.rightAD{
	width:240px;
	overflow:hidden;
	margin:10px auto;
}
.sideconts .cont .listn{
	height:25px;
	line-height:25px;
	overflow:hidden;
}
.sideconts .cont .listn span{
	display:block;
	width:20px;
	text-align:center;
	float:left;
	background:url(numbg3.gif) center -27px no-repeat;
	color:#FFF;
	font-weight:bold;
}
.sideconts .cont .list1 span,.sideconts .cont .list2 span,.sideconts .cont .list3 span{
	background:url(numbg3.gif) center -1px no-repeat;
}