<!--
<?php
print <<<EOT
-->
<div class="MainCont">
	<div class="head"><div class="tag">我收藏的信息</div></div>
    <div class="cont">
    	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="ListTable">
          <tr>
            <th width="40%">标题</th>
            <th width="15%">栏目</th>
            <th width="20%">收藏日期</th>
            <th width="15%">状态</th>
            <th width="10%">删除</th>
          </tr>
<!--
EOT;
foreach($listdb AS $key=>$rs){
//$rs[Lurl]=get_info_url('',$rs[fid],$rs[city_id]);
print <<<EOT
-->
          <tr>
            <td class="tL">{$rs[id]}、<a href="../bencandy.php?fid=$rs[fid]&id=$rs[id]" target="_blank" title="$rs[full_title]">$rs[title]</td>
            <td><a href="../list.php?fid=$rs[fid]" target="_blank">$rs[fname]</a></td>
            <td>$rs[ctime]</td>
            <td>$rs[state]/$rs[levels]</td>
            <td><a href="?do=del&cid=$rs[cid]">删除</a></td>
          </tr>
<!--
EOT;
}print <<<EOT
-->
        </table>
        <div class="Showpage">$showpage</div>
    </div>
</div>
<!--
EOT;
?>
-->