<!--
<?php 
print <<<EOT
--> 
<style type="text/css">
<!--
.ListShop .img{
	width:120px;
	padding:10px 10px 10px 10px;
}
.ListShop .img div{
	border:#DDD solid 1px;
	padding:1px;
	width:120px;
}
.ListShop .img div a{
	display:block;
	width:120px;
	height:90px;
	overflow:hidden;
	text-align:center;
}
.ListShop .word{
	text-align:left;
	color:#888;
}
.ListShop .word div{
	height:32px;
	overflow:hidden;
}
.ListShop .word div span{
	color:#f60;
	padding-right:10px;
}
.ListShop .word div.t{
	line-height:32px;
}
.ListShop .word div.t a{
	font-size:14px;
	font-weight:bold;
}
.ListShop .word div.atcs div{
	float:right;
	margin-right:10px;
	background:url($webdb[_www_url]/member/images/blue/cover.gif) no-repeat;
	padding-left:10px;
}
.ListShop .word div.atcs div a{
	display:block;
	padding:0 15px 0 5px;
	line-height:28px;
	background:url($webdb[_www_url]/member/images/blue/cover.gif) right top no-repeat;
	color:#777;
	outline:none;
}
-->
</style>
<div class="MainCont">
	<div class="head"><div class="tag">我发布的免费信息 <a href="$city_url/post.php" target="_blank">发布免费信息</a></div></div>
    <div class="cont">
    	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="ListTable ListShop">
<!--
EOT;
foreach($listdb AS $key=>$rs){
$rs[Lurl]=get_info_url('',$rs[fid],$rs[city_id]);
$rs[picurl] = tempdir($rs[picurl]);
print <<<EOT
-->
          <tr>
            <td class="img">
            	<div><a href="$Murl/bencandy.php?fid=$rs[fid]&id=$rs[id]" target="_blank" title="$rs[title]"><img src="$rs[picurl]" height="90" onerror="this.src='$webdb[_www_url]/images/default/nopic.jpg';"/></a></div>
            </td>
            <td class="word">
            	<div class="t">
                	<a href="$Murl/bencandy.php?fid=$rs[fid]&id=$rs[id]" target="_blank" title="$rs[title]">$rs[title]</a>
                </div>
                <div>
                	栏目:<a href="$rs[Lurl]" target="_blank">$rs[fname]</a> &nbsp;
                	模型:<span>{$module_db[$rs[mid]]}</span>  
                	发布时间:<span>$rs[posttime]</span>  
                    浏览:<span>{$rs[hits]}</span> 
                    评论:<span>{$rs[comments]}</span>                    
                </div>
                <div class="atcs">
                    <div>{$rs[update]}</div> 
                    <div>{$rs[dotop]}</div>
                    <div><a href="../post.php?job=edit&fid=$rs[fid]&id=$rs[id]" target="_blank">修改</a> </div>
                    <div><a href="../post.php?action=del&fid=$rs[fid]&id=$rs[id]" onClick="return confirm('你确认要删除吗?不可恢复');" target="_blank">删除</a></div>
                </div>
            </td>
          </tr>        
<!--
EOT;
}
print <<<EOT
-->
		</table>
        <div class="Showpage">$showpage</div>
    </div>
</div>
<div class="MainCont mtop10">
	<div class="head"><div class="tag">帮助说明 (你目前的积分有:<span class="b red">{$lfjdb[money]}</span>点)</div></div>
    <div class="cont">
    	<ul class="aboutnote">
        	<li>1.刷新,即代表更新信息的发布日期为当前日期,刷新后会排在当前栏目的前面.每条信息的刷新时间间隔为<span class="b red">{$webdb[UpdatePostTime]}</span>小时.</li>
            <li>2.置顶,即把某条信息在所在栏目固定在前面显示.置顶有效日期为<span class="b red">{$webdb[Info_TopDay]}</span>天,收费为<span class="b red">{$webdb[Info_TopMoney]}</span>积分
        </ul>
    </div>
</div>
<!--
EOT;
?>
-->
