<!--
<?php
print <<<EOT
--> 
 <script type="text/javascript" src="$webdb[www_url]/ewebeditor/ckeditor/ckeditor.js"></script>
<script src="$webdb[www_url]/images/default/setday.js"></script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td width="100%" height="393" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" id="postshop">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">$fidDB[name]</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle"> 
            <form name="FORM" id="FORM" method="post" action="?action=$atc"  enctype="multipart/form-data">
              <table width="99%" border="0" cellspacing="8" cellpadding="3" id="bigtable">
                <tr align="left"> 
                  <td colspan="2" style="background:#eee;"> 
                    <div class="ct"><b>基本资料</b></div>
                  </td>
                </tr>
                <tr> 
                  <td width="18%" align="right"><font color="red">*</font>展会全称:</td>
                  <td width="82%"> 
                    <input type="text" name="postdb[title]" id="atc_title" size="40" value="$rsdb[title]">
                  </td>
                </tr>
                 
                <!--
EOT;
if($job!="edit"&&!$web_admin){
print <<<EOT
-->
                <tr> 
                  <td width="18%" align="right">验证码:<font color=red>(必填)</font></td>
                  <td width="82%"> 
                    <input id="yzImgNum" type="text" name="yzimg" size="8">
                    <SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<img border="0" name="imageField" onclick="this.src=this.src+Math.random();" src="$webdb[www_url]/do/yzimg.php?'+Math.random()+'">');
//-->
</SCRIPT>
                  </td>
                </tr>
                <!--
EOT;
}
print <<<EOT
-->
                <tr> 
                  <td width="18%" align="right">介绍图片 <a href="#" title="点击增加1项" onClick="showinput()"><img border='0' src='$webdb[www_url]/images/default/menu_add.gif'></a> 
                  </td>
                  <td width="82%"> 
                    <SCRIPT LANGUAGE="JavaScript">
<!--
function choosef(i,t){
	if(t=='out'){
		document.getElementById("out_url"+i).style.display='';
		document.getElementById("in_url"+i).style.display='none';
	}else{
		document.getElementById("out_url"+i).style.display='none';
		document.getElementById("in_url"+i).style.display='';
	}
}
//-->
</SCRIPT>
                    <!--
EOT;
if($groupdb['gid']==2){
	$picnum=$webdb[Info_GuestPostPicNum]!=''?intval($webdb[Info_GuestPostPicNum]):3;
}elseif($groupdb['gid']==8){
	$picnum=$webdb[Info_MemberPostPicNum]!=''?intval($webdb[Info_MemberPostPicNum]):10;
}else{
	$picnum=80;
}
if($picnum<1)unset($listdb);
$detail=explode(",",$webdb[group_UpPhoto].',3,4');
if($webdb[group_UpPhoto]&&!in_array($groupdb['gid'],$detail))$none='none;';
$i=0;
foreach($listdb AS $key=>$rs){
$i++;
print <<<EOT
-->
                    图片标题: 
                    <input type="text" name="titledb[$i]" size="10" value="$rs[name]">
                    图片地址: 
                    <input type="text" name="photodb[$i]" size="30" id="out_url$i" value="$rs[imgurl]">
                    <input type="file" name="local_file$i" id="in_url$i" style="display:none;">
                    <input type="radio" name="ftype[$i]" value="out" checked onclick="choosef($i,'out')">
                    网络文件 <a style="display:$none;"> 
                    <input type="radio" name="ftype[$i]" value="in" onclick="choosef($i,'in')">
                    本地文件 </a> 
                    <input type="hidden" name="piddb[$i]" value="$key">
                    <br>
                    <!--
EOT;
}print <<<EOT
-->
                    <div id='input$i'></div>
                    <script>
totalnum=$i;
limitnum=$picnum;
function showinput(){
	if(totalnum>(limitnum-1)){
		alert("你最多只能上"+limitnum+"传张图片!");
		return ;
	}
	var str='';
	var divid='input'+totalnum;
	var num=2;
	num=document.FORM.nums.value;
	for(var i=1;i<=num;i++){
		totalnum=totalnum+i;
		str+='图片标题:<input type="text" name="titledb['+totalnum+']" size="10"> 图片地址: <input type="text" name=photodb['+totalnum+'] size="30" id="out_url'+totalnum+'"> <input type="file" name="local_file'+totalnum+'" id="in_url'+totalnum+'" style="display:none;"> <input type="radio" name="ftype['+totalnum+']" value="out" checked onclick="choosef('+totalnum+',\'out\')">网络文件 <a style="display:$none;"><input type="radio" name="ftype['+totalnum+']" value="in" onclick="choosef('+totalnum+',\'in\')">本地文件</a><br>';
	}
	document.getElementById(divid).innerHTML=str+"<div id='input"+totalnum+"'></div>";
	if(parent.document.getElementById('member_mainiframe')!=null){
		parent.document.getElementById('member_mainiframe').height=parseInt(parent.document.getElementById('member_mainiframe').height)+18;
	}
} 
</script>
                    <input type="hidden" size="3" name="nums" value="1">
                  </td>
                </tr>
                <tr> 
                  <td width="18%" align="right">标　　签:<font color="red"> </font></td>
                  <td width="82%"> 
                    <input type="text" name="postdb[keywords]" id="atc_title" size="50" value="$rsdb[keywords]">
                    (多个用空格隔开)</td>
                </tr>
                
                
                <tr align="left"> 
                  <td colspan="2" style="background:#eee;"> 
                    <div class="ct">补充资料</div>
                  </td>
                </tr>
                
                <tr> 
                  <td align='right'>开展时间:<font color=red>*</font><br></td>
                  <td ><input  onclick="setday(this,1)" type='text' name='postdb[day_begin]' id='atc_day_begin' size='20' value='$rsdb[day_begin]'>  </td>
                </tr>
                
                <tr> 
                  <td align='right'>结束时间:<font color=red>*</font><br></td>
                  <td ><input  onclick="setday(this,1)" type='text' name='postdb[day_end]' id='atc_day_end' size='20' value='$rsdb[day_end]'>  </td>
                </tr>
                
                <tr> 
                  <td align='right'>主办单位:<br></td>
                  <td > <input   type='text' name='postdb[main_preside]' id='atc_main_preside' style='width:200px;' value='$rsdb[main_preside]'> </td>
                </tr>
                
                <tr> 
                  <td align='right'>辅助单位:<br>每个单位换一行</td>
                  <td ><textarea  name='postdb[assist_preside]' id='atc_assist_preside' style='width:300px;height:100px;'>$rsdb[assist_preside]</textarea> </td>
                </tr>
                
                <tr> 
                  <td align='right'>展品范围:<br></td>
                  <td ><textarea  name='postdb[shop_area]' id='atc_shop_area' style='width:300px;height:100px;'>$rsdb[shop_area]</textarea> </td>
                </tr>
                
                <tr> 
                  <td align='right'>参展费用:<br></td>
                  <td > <input   type='text' name='postdb[joinmoney]' id='atc_joinmoney' style='width:100px;' value='$rsdb[joinmoney]'> </td>
                </tr>
                
                <tr> 
                  <td align='right'>联系方式:<br></td>
                  <td > <input   type='text' name='postdb[contact]' id='atc_contact' style='width:300px;' value='$rsdb[contact]'> </td>
                </tr>
                
                <tr> 
                  <td align='right'>注意事项:<br></td>
                  <td ><textarea  name='postdb[about]' id='atc_about' style='width:300px;height:100px;'>$rsdb[about]</textarea> </td>
                </tr>
                
                <tr> 
                  <td align='right'>展会介绍:<br></td>
                  <td ><textarea  name='postdb[content]' id='atc_content' style='width:600px;height:250px;'>$rsdb[content]</textarea> </td>
                </tr>
                <!---->
                <tr>   <tr align="left"> 
                  <td colspan="2" style="background:#eee;"> 
                    <div class="ct"><b>展会自定义信息</b></div>
                  </td>
                </tr><tr> 
                  <td align='right'>项目1 名称</td>
                  <td >
                    <input type="text" name="postdb[my_title1]" id="atc_title" size="30" value="$rsdb[my_title1]">
                  </td>
                </tr><tr> 
                  <td align='right'>项目1 内容</td>
                  <td >
                    <textarea name="postdb[my_content1]" id="atc_title" cols="60" rows="5">$rsdb[my_content1]</textarea>
                  </td>
                </tr><tr> 
                  <td align='right'>项目2 名称</td>
                  <td >
                    <input type="text" name="postdb[my_title2]" id="atc_title" size="30" value="$rsdb[my_title2]">
                  </td>
                </tr><tr> 
                  <td align='right'>项目2 内容</td>
                  <td >
                    <textarea name="postdb[my_content2]" id="atc_title" cols="60" rows="5">$rsdb[my_content2]</textarea>
                  </td>
                </tr>
                  <td width="18%" align='right'>&nbsp;</td>
                  <td width="82%"> 
                    <input type="submit" name="Submit" value="提 交">
                    <input type="hidden" name="fid" value="$fid">
                    <input type="hidden" name="id" value="$id">
                    <input type="hidden" name="postdb[roomid]" value="$roomid">
                  </td>
                </tr>
              </table>
            </form>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<!--
EOT;
?>
-->
