<!--
<?php
print <<<EOT
-->
<div class="MiddleCont">
	<div class="SideCont">
    	<div class="head">
        	<div class="tag">最新信息</div>
            <div class="more">
                <a href="listall.php?ordertype=id">更多&gt;&gt;</a>
            </div>
        </div>
        <div class="cont">
<!--
EOT;
$listnew = showlisttype("new",$rows=5,$leng=50,$fid=0,$conten=160);
foreach($listnew AS $key=>$rs){ 
print<<<EOT
-->
		<dl class="ListShop">
        	<dt><div><a href="bencandy.php?fid=$rs[fid]&id=$rs[id]"><img src="$rs[picurl]" height="90"/></a></div></dt>
            <dd>
            	<div class="t"><a href="bencandy.php?fid=$rs[fid]&id=$rs[id]">$rs[title]</a></div>
                <div class="c">发布时间：<span>{$rs[posttime]}</span></div>
                <div class="c">信息类型：<span>{$rs[fname]}</span></div>
                <div class="m"><a href="bencandy.php?fid=$rs[fid]&id=$rs[id]">[详细]</a></div>
            </dd>
        </dl>
<!--
EOT;
}print<<<EOT
-->
        </div>
    </div>
    <div class="SideCont"> 
    	<div class="head">
        	<div class="tag">热门信息</div>
            <div class="more">
                <a href="listall.php?ordertype=hits">更多&gt;&gt;</a>
            </div>
        </div>
        <div class="cont">
<!--
EOT;
$listhot = showlisttype("hot",$rows=3,$leng=50,$fid=0,$conten=160);
foreach($listhot AS $key=>$rs){ 
print<<<EOT
-->
        <dl class="ListShop">
        	<dt><div><a href="bencandy.php?fid=$rs[fid]&id=$rs[id]"><img src="$rs[picurl]" height="90"/></a></div></dt>
            <dd>
            	<div class="t"><a href="bencandy.php?fid=$rs[fid]&id=$rs[id]">$rs[title]</a></div>
                <div class="c">发布时间：<span>{$rs[posttime]}</span></div>
                <div class="c">信息类型：<span>{$rs[fname]}</span></div>
                <div class="m"><a href="bencandy.php?fid=$rs[fid]&id=$rs[id]">[详细]</a></div>
            </dd>
        </dl>
<!--
EOT;
}print<<<EOT
-->
        </div>
    </div> 	
</div>
<!--
EOT;
?>
-->
