<!--
<?php
print <<<EOT
-->
<div class="MiddleCont">
	<div class="SideCont">
    	<div class="head">
        	<div class="tag">{$head[$ordertype]}礼品</div>
            <div class="more">
                <a href="?ordertype=levelstime">推荐礼品</a>
                <a href="?ordertype=hits">热门礼品</a>
                <a href="?ordertype=id">最新礼品</a>
            </div>
        </div>
        <div class="cont">
<!--
EOT;
foreach($listdb AS $key=>$rs){ 
print<<<EOT
-->
        <dl class="ListShop">
        	<dt><div><a href="bencandy.php?fid=$rs[fid]&id=$rs[id]"><img src="$rs[picurl]" height="90"/></a></div></dt>
            <dd>
            	<div class="t"><a href="bencandy.php?fid=$rs[fid]&id=$rs[id]">$rs[title]</a></div>
                <div class="c">发布时间：<span>{$rs[posttime]}</span></div>
                <div class="c">礼品类型：<span>{$rs[fname]}</span></div>
                <div class="m"><a href="bencandy.php?fid=$rs[fid]&id=$rs[id]">[详细]</a></div>
            </dd>
        </dl>
<!--
EOT;
}print<<<EOT
-->
        </div>
    </div>
    <div class="shoppage">$showpage</div>	
</div>
<!--
EOT;
?>
-->
