<!DOCTYPE html>
<html>
<!--<?php
print <<<EOT
-->
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta http-equiv="Cache-control" content="max-age=1700">
<meta name="viewport" content="user-scalable=no, width=device-width">
<meta name="MobileOptimized" content="320">
<meta name="author" content="qibosoft">
<meta name="format-detection" content="telephone=no">
<link href="$Murl/images/style1.css" rel="stylesheet" type="text/css">
<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/jquery-1.2.6.min.js"></SCRIPT>
<title>$WebTitle</title>
</head>
<body>
<dl class="Hearder">
	<dt><a href="$Murl"><img src="$Murl/images/home.gif"/></a> <a href="javascript:;history.back()"><img src="$Murl/images/back.gif"/></a></dt>
    <dd>登录</dd>
</dl>
 
<div class="PostPm">
    <form name="form1" method="post" action="">
    <dl>
        <dt>帐号：</dt>
        <dd class="user"><input type="text" name="username"/></dd>
    </dl>
     <dl>
        <dt>密码：</dt>
        <dd class="user"><input type="password" name="password"/></dd>
    </dl>
    <div class="sub">
        <input type="submit" name="Submit" value="提交">
        <input type="hidden" name="step" value="2">
    </div>
    </form>
</div>
 
<div class="Footer">
	$titleDB[title]
</div>
<SCRIPT LANGUAGE="JavaScript">
$(".Nav li:eq(0)").addClass("begin");
$("#contents img").each(function(){
	var this_w = $(this).width();
	if(this_w>310) $(this).css("width","310px");
});
</SCRIPT>
</body>
</html>
<!--
EOT;
?>
-->