<!DOCTYPE html>
<html>
<!--<?php
print <<<EOT
-->
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="keywords" content="$titleDB[keywords]">
<meta name="description" content="$titleDB[description]">
<link href="images/mobel/style.css" rel="stylesheet" type="text/css">
<title>手机模拟器浏览3G版地方门户系统</title>
</head>
<body>
<div class="Containers">
	<div class="Heads"><div class="topL"></div><div class="topR"></div></div>
    <div class="Conts">
    	<iframe width="100%" id="mainiframe" height="100%" scrolling="auto" marginwidth=0 marginheight=0 frameborder="0" src="index.php"></iframe>
    </div>
    <div class="Foots"><div class="footL"></div><div class="footR"></div></div>
</div>
<div class="msg">提示：用你的手机输入以下网址即可浏览到以上模拟器看到的效果<br><b>$webdb[www_url]/3g/</b></div>
</body>
</html>
<!--
EOT;
?>
-->