* {
	font-size:12px;
}
body {
	text-align:center;
}
img {
	border:0px
}
p { margin:0; padding:5px 0;}
input, select {
	color: #222222;
	border: 1px solid #cccccc;
	background:  none;
	padding-top:2px;
}
input,label { vertical-align:middle;}
textarea {
	color: #222222;
	border: 1px solid #cccccc;
	background: none;
	width:90%;
	scrollbar-face-color: #f0f0f0;
	scrollbar-highlight-color:  #ffffff;
	scrollbar-shadow-color: #ffffff;
	scrollbar-3dlight-color: #cccccc;
	scrollbar-arrow-color:  green;
	scrollbar-track-color:  #f9f9f9;
	scrollbar-darkshadow-color:  #cccccc;
}
a:link {
	color: #111111;
	text-decoration: none;
	line-height: 100%
}
a:visited {
	color: #111111;
	text-decoration:none
}
a:hover {
	color: #666666;
	position: relative;
	text-decoration: underline;
	top: 0px
}
td {
	color: #111111;
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
}
.tablewidth {
	border: #1a5db0 1px solid;
	width:99%;
	margin-bottom:8px;
}
.tablewidth tr {
	background:#fff;
}
.tablewidth .head, .tablewidth .head td {
	border: #449ae8 0px solid;
	background:#6799b8 url(qq_22.gif);
	color: #fff;
}
.tablewidth .head td {
	padding-top:5px;
	padding-left:5px;
	text-align:center;
}
.tablewidth .head td a {
	color: #fff;
}
.tablewidth .head2 td {
	background:#E4DCD9;
	cursor:pointer;
	padding:5px;
}
.head3 td {
	background: #FFFFCC;
	cursor:pointer;
	padding:5px;
}
.head4 td {
	background: #F9F9F9;
	cursor:pointer;
	padding:5px;
}
.head5 td {
	background: #FFCC66;
}
.head6 td {
	background: #EAEAEA;
	padding:5px;
	color:blue;
}
.tablewidth .head7 td {
	padding:8px;
	font-size:14px; font-weight:bold;
	line-height:160%;
	text-align:center;	
}
.tablewidth .head8 td {
	background:#6799b8 url(qq_22.gif);
	color: #fff;
	padding:6px;
	font-size:14px; font-weight:bold;
	line-height:160%;
	text-align:center;
}

#top_menu td {
	padding:3px;
	vertical-align:middle;
	height:24px;
}
#top_menu td a {
	line-height:160%;
	color:#333;
	border:1px solid #0C73BE;
	padding-top:2px;
	background:url(post_bt.gif);
	font-size:13px;
	display:block;
	width:94px;
	text-align:center;
}
.trA TD {
	background:#fff;
	text-align:center;
}
.trB TD {
	background: #FFE068;
	text-align:center;
}
.help {
	color:#A5A5A5;
}
.input_text, .input_textarea {
	border:1px solid #A0B5FC;
	background:#FBFBFF;
}
.submit {
	color:#333;
	background:url(bt_bg.gif);
	height:21px;
	border:1px solid #555;
	letter-spacing:2px;
}
.f14, .f14 td { font-size:14px; letter-spacing:0.12em; font-weight:bold; color:#2376A2; }

.blank2 {
	font-size:13px;
	font-family: Verdana, Arial;
	font-weight:bold;
	color:green;
	padding:0 8px;
}
.blank3 {
	border-left:#003399 2px dotted;
	margin:0 6px;
}
.result {
	border:1px solid #d4d4d4;
	background:#FFC;
	padding:3px 12px;
	margin:2px auto;
	line-height:160%;
	color:#393939;
	font-weight:bold;
	float:auto;
	width:96%;
	font-size:12px;
}
.none {
	display:none
}
.inline {
	display:inline
}
.errorTip {
	color:red;
	font-size:14px;
	line-height:300%;
	background:url(ico_cuohao.gif) no-repeat;
	padding-left:20px;
}
/*滑动门  _Start*/
#description #description_head li a:hover, #description #description_head li a.here, #description #description_head li a#description_first.here, #description #description_head li a#description_first:hover {
	background:url(description.jpg) no-repeat;
}
#description {
	margin:0 auto 8px auto;
	_height:268px;
	background:url(description_center.jpg) repeat-x;
	text-align:left;
	width:99%;
	border:#a8b5bd 1px solid;
}
#description #description_head {
	width:100%;
	height:26px;
	overflow:hidden;
}
#description #description_head li {
	background-image:url(line_bg.jpg);
	background-repeat:repeat-x;
	list-style:none;
}
#description #description_head li {
	float:left;
	width:220px;
	background-position:right -269px;
	background-repeat:no-repeat;
	height:26px;
	text-align:left;
}
#description #description_head li a {
	display:block;
	color:#fff;
	padding:8px 16px;
	text-decoration:none;
	font-weight:bold;
}
#description #description_head li a:hover, #description #description_head li a.here {
	color:#000;
	background-position:-8px -340px;
}
#description #description_head li a#description_first.here, #description #description_head li a#description_first:hover {
	color:#000;
	background-position:-8px -340px;
}
#description #description_head ul {
	padding:0;
	margin:0;
}
#description #description_content {
	padding:6px 0px;
}
#description #description_content div {
	display:none;
}
/*滑动门  _End*/
/*分页样式 _Start*/
.sabrosus {
	padding:0 6px;
	text-align: center
}
.sabrosus a {
	border: #9aafe5 1px solid;
	margin-right: 2px;
	text-decoration: none
}
.sabrosus a:hover {
	border: #2b66a5 1px solid;
	color: #000;
	background-color: lightyellow
}
.pagination a:active {
	border: #2b66a5 1px solid;
	color: #000;
	background-color: lightyellow
}
.sabrosus span.current {
	border: navy 1px solid;
	padding: 0px 3px;
	font-weight: bold;
	color: #fff;
	margin-right: 2px;
	background-color: #2e6ab1
}
.sabrosus span.disabled {
	border: #929292 1px solid;
	color: #929292;
	margin-right: 2px;
}
/*分页样式 _End*/

/* ajax innerTips 方式显示 */
.ThinkAjax{position:absolute; z-index:1000; letter-spacing:2px;display:none; top:15px; right:20px; padding:16px 20px 16px 20px; font-weight:bold; border:1px solid gray; color:blue; background:#FFF;font-family:微软雅黑,Tahoma,Helvetica,sans;}
/* 授权中心 */
.systd{
	text-align:right;
	color:#003366;
	font-size:14px;
	font-weight:bold;
	letter-spacing:1px;	
}
