<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--<?php
print <<<EOT
-->
<head>
<title>$titleDB[title]</title>
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/moble/style.css">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="keywords" content="$titleDB[keywords]">
<meta name="description" content="$titleDB[description]">
</head>
<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/jquery-1.2.6.min.js"></SCRIPT>
<body ondblclick="$bodyondblclick">
<div class="Hearder">
	<dl>
    	<dt><a href="$webdb[www_url]/"><img src="$webdb[www_url]/images/moble/title.gif"/></a></dt>
        <dd>$label[moble_toplink]
        	
        </dd>        
    </dl>
</div>
<div class="Naver">
	<dl>
    	<dt><a href="$webdb[www_url]/3g/3g.apk"><img src="$webdb[www_url]/images/moble/butter.gif"/></a></dt>
        <dd> <a href="$webdb[www_url]/3g/main.php" target="_blank"><img src="$webdb[www_url]/images/moble/moble.gif" border="0"/></a> </dd>
    </dl>
</div>
<div class="Container">
	<h3 class="head"><img src="$webdb[www_url]/images/moble/android.gif"/></h3>
    <dl class="conter">
    	<dt class="Lefter">
        	<dl>$label[moble_about1]
            	
            </dl>
            <dl>$label[moble_about2]
            	
            </dl>
            <dl>$label[moble_about3]
            	
            </dl>
            <dl>$label[moble_about4]
            	
            </dl>
        </dt>
        <dd class="Righter">
        	<div class="sider">
            	<h4>最新消息</h4>
                <ul>
                	$label[moble_listnews]
                </ul>
            </div>
        </dd>
    </dl>
</div>
<div class="Footer">
	
$webdb[copyright] 
      Copyright@{$webdb[www_url]} all rights reserved <a href="http://www.miibeian.gov.cn" target="_blank">{$webdb[miibeian_gov_cn]}</a> 
      <br>
     Powered by <a href="/" target="_blank">07975.COM {$qibosoft_Edition}</a> 
      Code &copy; 2003-2013 <a href="/" target="_blank">华人诚信联盟</a> 
</div>
</body>
</html>
<!--
EOT;
?>
-->

