@charset "utf-8";
/**
*   Made by cgq
**/
.index_body{ background:url(../images/header_bg.jpg) no-repeat center -38px #f5f5f5; font:14px/18px Verdana,Helvetica,Arial,sans-serif; color:#999;}
.w{ margin:0 auto; width:1000px;}
.container_m{ background:url(../images/container_m_bg.jpg) no-repeat center 0;}

.colorGreen{ color:#67ae11;}
.colorRed{ color:#d7252f;}
.colorOrange{ color:#ff5500;}
.colorGrey80{ color:#ccc;}
.colorGrey70{ color:#b2b2b2;}
.colorGrey60{ color:#999;}
.colorGrey40{ color:#666;}
.colorGrey20{ color:#333;}
.colorBlue{ color:#1281c8;}
a.colorBlue_link{ color:#1281c8;}
a.colorRed_link{ color:#f41313;}
a.colorWhite_link{ color:#fff;}
a.colorGrey60_link{ color:#666;}
a.colorGrey20_link{ color:#333;}
a.colorWhite_link:hover, a.colorGrey60_link:hover, a.colorGrey20_link:hover, a.colorBlue_link:hover{ color:#ff5500; text-decoration:none;}

.fgx{ padding:0 10px;}

.wrap_194{ width:194px; overflow:hidden;}
.wrap_220{ width:220px; overflow:hidden;}
.wrap_224{ width:224px; overflow:hidden;}
.wrap_250{ width:250px; overflow:hidden;}
.wrap_562{ width:562px; overflow:hidden;}
.wrap_495{ width:495px; overflow:hidden;}
.wrap_766{ width:766px; overflow:hidden;}

a.moreBtn{ font-family:"宋体"; font-size:12px; line-height:36px; padding:0 10px;}

/*====头部=====*/
/*头部功能栏*/
.container_topNav{ font-size:12px; height:33px; line-height:33px; background:url(../images/hrcxlm_bg_h33.gif) repeat-x 0 0;}

/*头部区*/
.container_h{ background:url(../images/hrcxlm_hBg.jpg) repeat-x 0 0;}
.container_h_inner{ height:255px; background:url(../images/hrcxlm_05.jpg) no-repeat center 0; position:relative; z-index:5;}
.container_h_inner .w{ position:relative; z-index:5;}
.logo{ width:227px; height:115px; background:url(../images/logo.png) no-repeat 0 0; text-indent:-1000px; overflow:hidden; margin-top:10px;}
.cityChange{ width:180px; height:26px; position:absolute; top:74px; right:50px;}
.cityChange h2{ float:left; width:90px; font-weight:bold; height:26px; line-height:26px;}
.cityChange span{ float:left; padding:0 10px; width:66px; height:24px; border:1px solid #5d9efa; background-color:#75aefd; line-height:24px; color:#fff; position:relative;}
.cityChange span em{ position:absolute; width:15px; height:24px; background:url(../images/icons.png) no-repeat -7px -40px; right:0; top:0;}


/*搜索*/
.search_block{ width:423px; position:absolute; top:145px; left:280px; z-index:5;}
.search_bt{ height:30px;}
.search_bt a{ float:left; color:#333331; margin-right:5px; padding:0 8px; height:30px; line-height:30px;}
.search_bt a.on{ background-color:#ccc;}

.search_wrap{ width:423px; height:33px; line-height:33px; border:1px solid #cdcdcd; background-color:#fff; position:relative; z-index:4;}
.search_wrap .menu_options{ width:94px; position:relative; cursor:default; z-index:4;}
.search_wrap .menu_options .keySlect{ float:left; height:33px; background-color:#f7f7f7; border-right:1px solid #dddfde; line-height:33px; width:84px; padding:0 5px; text-align:center; color:#76affe; position:relative;}
.search_wrap .menu_options .keySlect em{ position:absolute; right:3px; top:0; height:33px; width:10px; background:url(../images/icons.png) no-repeat -10px 3px; margin-left:5px;}
.search_wrap .search_input input{ width:320px; height:32px;}
.search_wrap .search_input input{ border:none; background:none; width:250px; height:32px; line-height:32px; margin-left:10px; color:#cbcbcb;}
.search_wrap .subBtn{ width:68px; text-align:center; border-left:1px solid #cdcdcd; background:url(../images/hrcxlm_bg_h33.gif) repeat-x 0 -33px;}
.search_wrap .subBtn a{ display:block; font-weight:bold; font-size:14px; line-height:33px; color:#333;}

.search_key{ font-size:12px; line-height:26px;}

/*热线*/
.telepone{ height:34px; background:url(../images/icons.png) no-repeat -78px -2px; padding-left:40px; width:120px; position:absolute; top:170px; left:776px;}
.telepone h6{  font-weight:normal;}
.telepone p{ font-size:18px; font-weight:bold; color:#0098e1;}
.telepone h6,.telepone p{ line-height:18px;}

/*头部主导航*/
.container_nav{ background:url(../images/hrcxlm_mainnav_h51.jpg) repeat-x 0 -51px;}
.container_nav .w{ position:relative; z-index:3;}
.menu1{ background:url(../images/headerNav_fgx.jpg) no-repeat right 0;}
.mainNav{ background:url(../images/mainNav_bg.jpg) no-repeat 0 0;}
.mainNav li{ float:left; position:relative;}
.mainNav li a.menu1{ font-size:16px; display:block; text-align:center; font-weight:bold; line-height:51px; padding:0 20px; text-decoration:none; color:#fff;}
.mainNav li.on a.menu1{ background-color:#0372ba;}

.mainNav li .sunNav{ padding-top:10px; padding-bottom:10px;  position:absolute; top:51px; left:0; width:214px; background-color:#d8e5f4; border:1px solid #a2bdd5; border-top:none;}
.mainNav li .sunNav a{ line-height:22px; padding:0 10px; color:#0a74bb;}

.mainNav li .sunNav .flMenus{ width:204px;}
.mainNav li .sunNav .flMenus dl{ margin-left:10px;}
.mainNav li .sunNav .flMenus dt{ width:194px; background-color:#5d9efa; border-bottom:1px solid #7bb3fb}
.mainNav li .sunNav .flMenus dt a{ display:block; width:184px; height:33px; line-height:33px; font-weight:normal; text-align:left; padding:0; color:#fff; padding-left:10px; text-decoration:none; border-bottom:1px solid #4e90ee}
.mainNav li .sunNav .flMenus dt a:hover{ background-color:#519cca;}
.mainNav li .sunNav .flMenus dt a em{ float:right; width:10px; height:6px; background:url(../images/icons.png) no-repeat -10px -50px; margin:13px 5px 0 0;}
.mainNav li .sunNav .flMenus dd a{ float:left; font-weight:normal; font-size:12px; width:96px; padding:0; color:#333; height:22px; line-height:22px; background-color:#ccdaeb; margin:2px 0 0 2px; display:inline; text-indent:5px; text-decoration:none; overflow:hidden; white-space:nowrap;}
.mainNav li .sunNav .flMenus dd a:hover{ color:#ff5500;}
.mainNav li .sunNav .flMenus dd a.no_ml{ margin-left:0;}


.mainNav li .sunNav .frAd{ width:118px; overflow:hidden; padding-left:10px; padding-right:10px; margin-left:10px; border-left:1px dashed #fff;}
.mainNav li .sunNav .frAd img{ width:118px;}

/*====底部=====*/
.container_f{ font-size:12px; background:url(../images/hrcxlm_ft.jpg) repeat-x 0 0 #e9edf0;}
.service{ width:999px; height:188px; border-right:1px dashed #e3e7e6; overflow:hidden; margin:0}
.service dl{ float:left; padding-left:28px; width:170px; height:188px; border-left:1px dashed #e3e7e6; overflow:hidden;}
.service dt{ padding-top:10px; text-align:center;}
.service dt strong{ font-size:14px; color:#3d4645; line-height:33px; display:block; overflow:hidden;}
.service dd{ line-height:24px; padding-top:5px; text-align:center;}
.service dd em{ float:left; width:20px; height:24px; background:url(../images/icons.png) no-repeat -14px -214px;}

.service .fore1 dt{ background:url(../images/zoom-out-m.png) no-repeat 0 center;}
.service .fore2 dt{ background:url(../images/novel-m1.png) no-repeat 0 center;}
.service .fore3 dt{ background:url(../images/manager-m.png) no-repeat 0 center;}
.service .fore4 dt{ background:url(../images/my-topic-m.png) no-repeat 0 center;}
.service .fore5 dt{ background:url(../images/assistant-m.png) no-repeat 0 center;}

.copy{ line-height:22px; padding:25px 0; background:url(../images/hrcxlm_67.jpg) no-repeat right center;}

/*分类导航*/
.classNav{ position:absolute; width:116px; height:51px; top:0; left:-116px; _left:-119px;}
a.classNav_btn{ font-size:14px; font-weight:bold; float:right; width:116px; height:51px; background:url(../images/hrcxlm_mainnav_h51.jpg) no-repeat right 0; text-align:center; line-height:51px; text-decoration:none; color:#fff;}
.classNav_nr{ position:absolute; left:0; top:51px; background-color:#d8e5f4; border:1px solid #a2bdd5; width:1114px; border-top:none;}
.classNav_nr dl{ width:90px; padding:0 5px;}
.classNav_nr dl dt{ color:#0a74bb; padding-bottom:10px;}
.classNav_nr dd a{ font-size:12px; display:block; color:#333; line-height:22px; white-space:nowrap;}
.classNav_nr dd a:hover{ color:#ff5500;}


