<!--
<?php
print <<<EOT
--> 
<form name="form1" method="post" action="$admin_path&action=$job">
<div class="MainCont">
	<div class="head"><div class="tag">请操作</div></div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="FormTable">
    <tr> 
      <td class="tdL">出错的栏目:</td>
      <td class="tdR">{$errsort}</td>
    </tr>
    <tr> 
      <td class="tdL"> 修改后属于哪个分类：</td>
      <td class="tdR">{$sort_fup}<font color='#0000FF'>不选择，则转变为顶级分类</font></td>
    </tr>
    <tr> 
      <td class="tdL"><br/></td>
      <td class="tdR"><input type='submit' name='Submit' value='修正'></td>
    </tr>
  </table>
</div>
</form>
<!--
EOT;
?>
-->
