 <!--
<?php
print <<<EOT
-->
<form name="form1" method="post" action="$admin_path&action=$job">
<div class="MainCont">
	<div class="head"><div class="tag">&nbsp;</div></div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="FormTable">
    <tr> 
      <td class="tdL">请选择源分类：</td>
      <td class="tdR">$selectname_1</td>
    </tr>
    <tr> 
      <td class="tdL"> 请选择目标分类：</td>
      <td class="tdR">$selectname_2</td>
    </tr>
    <tr> 
      <td class="tdL"><br/></td>
      <td class="tdR"> 
        <input class=mmcinb type='submit' name='Submit' value='提交数据'>
      </td>
    </tr>
  </table>
</div>
</form>
<!--
EOT;
?>
-->