<!--
<?php
print <<<EOT
-->
<div class="MainCont">
	<div class="head"><div class="tag">修改所属分类</div></div>
    <div class="cont">
    	<form name="FORM" method="post" action="?action=edit" enctype="multipart/form-data">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="FormTable">
          <tr>
            <td class="tdL">标题:</td>
            <td class="tdR">$rsdb[title]</td>
          </tr>
          <tr>
            <td class="tdL">所在分类:</td>
            <td class="tdR">$select_fid</td>
          </tr>
          <tr>
            <td class="tdL"><br/></td>
            <td class="tdR"><input type="submit" name="Submit" value="修 改" class='submit'> <input type="hidden" name="id" value="$id"></td>
          </tr>
        </table>
        </form>
    </div>
</div>
<!--
EOT;
?>
-->
