<!--
<?php
print <<<EOT
-->
<style type="text/css">
.Notes{
	padding:30px;
	font-size:14px;
	line-height:30px;
	text-align:center;
}
.ListPics{
	width:700px;
}
.ListPics dl{
	width:350px;
	height:100px;
	padding-top:15px;
	border-bottom:#DDD dotted 1px;
	overflow:hidden;
	float:left;
}
.ListPics dl dt{
	float:left;
	border:#DDD solid 1px;
	padding:1px;
}
.ListPics dl dt div{
	width:100px;
	height:80px;
	overflow:hidden;
}
.ListPics dl dt div a{
	display:block;
	width:160px;
	height:80px;
	overflow:hidden;
	text-align:center;
	margin-left:-30px;
}
.ListPics dl dd{
	float:left;
	width:230px;
	padding-left:10px;
	line-height:25px;
}
</style>
<div class="MainCont mtop10">
	<div class="head"><div class="tag">附件管理</div></div>
    <div class="cont">
<!--
EOT;
if($type=="files"){
print <<<EOT
-->
    	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="ListTable">
          <tr>
            <th width="60%">附件名称</th>
            <th width="20%">上传时间</th>
            <th width="10%">下载</th>
            <th width="10%">删除</th>
          </tr>
<!--
EOT;
foreach($listdb AS $key=>$rs){
$rs[url]=tempdir($rs[name]);
print <<<EOT
-->
          <tr>
            <td class="tL">$rs[name]</td>
            <td>$rs[times]</td>
            <td><a href="$rs[url]" target="_blank">下载</a></td>
            <td><a href="?atc=del&type=$type&keys=$rs[keys]&files=$rs[name]">删除</a></td>
          </tr>
<!--
EOT;
}
print <<<EOT
-->
        </table>
<!--
EOT;
}elseif($type=="pic"){
print <<<EOT
-->
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="ListPics">
          <tr>
            <td>
<!--
EOT;
foreach($listdb AS $key=>$rs){
$rs[url]=tempdir($rs[name]);
print <<<EOT
-->
          	<dl>
            	<dt><div><a href="$rs[url]" target="_blank"><img src="$rs[url]" height="80" /></a></div></dt>
                <dd>
                	<div>上传日间：$rs[times]</div>
                    <div><a href="$rs[url]" target="_blank">下载</a></div>
                    <div><a href="?atc=del&type=$type&keys=$rs[keys]&files=$rs[name]">删除</a></div>
                </dd>
            </dl>
<!--
EOT;
}
print <<<EOT
-->
            </td>
          </tr>
        </table>
<!--
EOT;
}else{
print <<<EOT
-->
		<div class="Notes">管理您上传到空间的所有附件，初次打开需对您的附件信息生成缓存，时间会有所延续，请耐心等候！此功能分别对<a href="?type=pic">图片附件</a>和<a href="?type=files">非图片附件</a>进行管理。</div>
        <div style="display:none;"><iframe width=1 height=1 src='?' name="job_push"></iframe>
</div>
<!--
EOT;
}
print <<<EOT
-->
        <div class="Showpage">$showpage</div>
    </div>
</div>
<!--
EOT;
?>
-->