<!--
<?php
print <<<EOT
-->
<script language="JavaScript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>

 

<form name="form_work" method="post" action="$admin_path&">
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
    <tr align="left" class="head"> 
      <td >说明:</td>
    </tr>
    <tr> 
      <td class="middle" valign="top" align="left"><a href="$Murl/bencandy.php?city_id={$rs[shop][city_id]}&fid=$rs[fid]&id=$rs[cid]" target="_blank"> 
        </a>这里可以按月统计每个商家的销售总额,客户给商家付款成功,即代表交易成功.如果你是站长帮商家代收款的话,可以下载表单回去按月分别支付给每个商家<br>
        <select name="post[y]">
          <option value="" >年份</option>
          <option value="2012" $_y[2012]>2012</option>
		  <option value="2013" $_y[2013]>2013</option>
		  <option value="2014" $_y[2014]>2014</option>
        </select>
        <select name="post[m]">
          <option value="">月份</option>
          <option value="01" $_m[01]>1月</option>
		  <option value="02" $_m[02]>2月</option>
		  <option value="03" $_m[03]>3月</option>
		  <option value="04" $_m[04]>4月</option>
		  <option value="05" $_m[05]>5月</option>
		  <option value="06" $_m[60]>6月</option>
		  <option value="07" $_m[07]>7月</option>
		  <option value="08" $_m[08]>8月</option>
		  <option value="09" $_m[09]>9月</option>
		  <option value="10" $_m[10]>10月</option>
		  <option value="11" $_m[11]>11月</option>
		  <option value="12" $_m[12]>12月</option>
        </select>
        <select name="post[s]">
          <option value="">交易状态</option>
          <option value="1" $_s[1]>已付款</option>
          <option value="2" $_s[2]>未付款</option>
          <option value="0" $_s[0]>所有</option>
        </select>
        <input type="submit" name="Submit" value="查询">
      </td>
    </tr>
  </table>
</form> <br>
<form name="form1" method="post" action="$admin_path&">
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <tr align="center" class="head"> 
    <td width="9%" >年份</td>
    <td width="12%" >月份</td>
    <td width="17%" align="center" >商家帐号</td>
    <td width="18%" align="center" >商铺名称</td>
    <td width="26%" >销售总额(元)</td>
    <td width="11%" >交易状态</td>
    <td width="7%" >详情</td>
  </tr>
  <!--
EOT;
foreach($listdb AS $key=>$rs){print <<<EOT
-->
  <tr> 
    <td class="middle" valign="top" width="9%" align="center"><a href="$Murl/bencandy.php?city_id={$rs[shop][city_id]}&fid=$rs[fid]&id=$rs[cid]" target="_blank"> 
      </a>$year</td>
    <td class="middle" valign="top" width="12%" align="center">$month</td>
    <td class="middle" valign="top" width="17%" align="center"><a href="$webdb[www_url]/member/homepage.php?uid=$rs[uid]" target="_blank">$rs[username]</a></td>
    <td class="middle" valign="top" width="18%" align="center"><a href="$webdb[www_url]/home/?uid=$rs[uid]" target="_blank">$rs[title]</a></td>
    <td class="middle" valign="top" width="26%" align="center">$rs[allmoney]</td>
    <td class="middle" valign="top" width="11%" align="center">$state</td>
      <td class="middle" valign="top" width="7%" align="center"><a href="$admin_path&file=order&job=list&month=$month&year=$year&cuid=$rs[uid]" target="_blank">查看</a></td>
  </tr>
  <!--
EOT;
}print <<<EOT
-->
  <tr> 
    <td class="middle" valign="top" colspan="7" align="center"><a href="$Murl/bencandy.php?city_id={$rs[shop][city_id]}&fid=$rs[fid]&id=$rs[cid]" target="_blank"> 
      </a>
        <input type="submit" name="Submit2" value="下载以上报表">
        <input type="hidden" name="post[y]" value="$post[y]">
        <input type="hidden" name="post[m]" value="$post[m]">
        <input type="hidden" name="post[s]" value="$post[s]">
        <input type="hidden" name="act" value="down">
      </td>
  </tr>
</table> </form>
<!--
EOT;
?>
-->
