<!--
<?php
print <<<EOT
--> 
<form name="form_work" method="post" action="$admin_path&action=$job">
<div class="MainCont">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ListTable">
    <tr> 
      <th width="6%">序号</th>
      <th width="50%">内容</th>
      <th width="9%">前台</th>
      <th width="11%">用户名</th>
      <th width="12%">时间</th>
      <th width="6%">是否通过</th>
      <th width="6%">删除</th>
    </tr>
<!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
    <tr> 
      <td>$rs[cid]</td>
      <td width="50%" class="txL"> 
        <input type="checkbox" name="ciddb[{$rs[cid]}]" value="$rs[cid]">
        <a href="?lfj=$lfj&job=show&cid=$rs[cid]">$rs[content]</a> </td>
      <td><a href="$Murl/bencandy.php?fid=$rs[fid]&id=$rs[id]" target="_blank">查看</a></td>
      <td>$rs[username]</td>
      <td>$rs[posttime]</td>
      <td>$rs[yz]</td>
      <td><a href="$admin_path&action=list&jobs=delete&ciddb[{$rs[cid]}]=$rs[cid]">删除</a></td>
    </tr>
<!--
EOT;
}$showpage=$showpage?"<div class='ShowPage'>$showpage</div>":"";
print <<<EOT
-->
  </table>
	<div class="ListBut">
    	<a href="#" onClick="CheckAll('all')">全选</a>/<a href="#" onClick='CheckAll()'>反选</a> 
        <input type="hidden" name="jobs">
        <input type="button" name="Submit" value="通过验证" onClick="postdo('yz')">
        <input type="button" name="Submit2" value="取消验证" onClick="postdo('unyz')">
        <input type="button" name="Submit3" value="删 除" onClick="postdo('delete')">
    </div>
    <div class="ShowPage">{$showpage}</div>
</div>
</form>
<SCRIPT LANGUAGE="JavaScript">
<!--
function postdo(va){
	document.form_work.jobs.value=va
	document.form_work.submit();
}
function CheckAll(va){
	form=document.form_work
	for (var i=0;i<form.elements.length;i++){
		var e = form.elements[i];
		if(va=='all'){
			e.checked = true;
		}else{
			e.checked == true ? e.checked = false : e.checked = true;
		}
	}
}
//-->
</SCRIPT>
<!--
EOT;
?>
-->