<!--
<?php
print <<<EOT
--> 
<link rel="stylesheet" type="text/css" href="$Murl/images/default/msearch.css">
<ul class="modemenu">
    <li><span><a href="list.php?fid=1">招标信息</a></span></li>
    <li><span><a href="list.php?fid=4">装修学堂</a></span></li>
    <li><span><a href="list.php?fid=5" class="ck">装修公司</a></span></li>
    <li><span><a href="list.php?fid=2">装修案例</a></span></li>
    <li><span><a href="list.php?fid=3">装修日志</a></span></li>
    <li><span><a href="list.php?fid=6">设计师</a></span></li>
</ul>
<div class="modeSearch">
<form name="modesearch" method="post" action="search.php" onsubmit="return check_keyword();" target="_blank">
	<div class="showtype"><span>招标信息</span></div>
    <ul class="listtype">
    	<li><span class="ck">招标信息</span></li>
        <li><span>装修学堂</span></li>
        <li><span>装修公司</span></li>
        <li><span>装修案例</span></li>
        <li><span>装修日志</span></li>
        <li><span>设计师</span></li>
    </ul>
    <div class="keyword"><input type="text" name="keyword"></div>
    <div class="submits"><input type="image" src="$Murl/images/default/sub.gif" /></div>
    <input type="hidden" name="mid" value="1">
    <input type="hidden" name="action" value="search">
</form>
</div>
<SCRIPT LANGUAGE="JavaScript" src="$Murl/images/default/msearch.js"></SCRIPT>
<link rel="stylesheet" type="text/css" href="$Murl/images/default/listcompany.css">
<div class="TopSearchs">
	<div class="head"><div class="tag">请选择搜索分类</div><div class="more">公司总数<span>{$totalNum}</span>个</div></div>
    <div class="cont">
<!--
EOT;
if($city_id){
$url=get_info_url('',$fid,$city_id,'','',$TempSearch_array);
$ck_citys = $zone_id ? "" : "class='ck'";
print <<<EOT
-->
		<div class="ListZone">
        	<span $ck_citys><A HREF="$url">{$city_DB[name][$city_id]}</A></span>
<!--
EOT;
foreach($zone_DB[name] AS $key=>$value){
$url=get_info_url('',$fid,$city_id,$key,'',$TempSearch_array);
$ck_zones = ($zone_id==$key) ? "class='ck'" : "";
print <<<EOT
-->
            <span $ck_zones><A HREF="$url">$value</A></span> 
<!--
EOT;
}
print <<<EOT
-->
        </div>
<!--
EOT;
if($street_DB[$zone_id]){
print <<<EOT
-->
		<div class="ListStreet">
<!--
EOT;
foreach($street_DB[$zone_id] AS $key=>$value){
$url=get_info_url('',$fid,$city_id,$zone_id,$key,$TempSearch_array);
$ck_street = ($street_id==$key) ? "class='ck'" : "";
print <<<EOT
-->
            <A HREF="$url" $ck_street>$value</A> 
<!--
EOT;
}
print <<<EOT
-->
        </div>
<!--
EOT;
}}
print <<<EOT
-->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ListSelect">
          <tr>
            <td>
<!--{filter}-->
				<div><span class='t'>{title}：</span><span class='f'>{value}</span></div>
<!--{/filter}-->
            </td>
          </tr>
        </table>
    </div>	
</div>
<div class="MainLists">
	<div class="MainL">
        <div class="ListCont">
        	<div class="head"><div class="tag">$fidDB[name]</div></div>
            <div class="cont">
<!--
EOT;
foreach($listdb AS $key=>$rs){
$showdomes="";
$listdomes = List_Company_Demo($rs[id],6);
foreach($listdomes AS $keys=>$rss){
	$rss[url]=get_info_url($rss[id],$rss[fid],$rss[city_id]);
    $rss[title] = get_word($rss[title],30);
    $showdomes .= " <a href=\"$rss[url]\" target=\"_blank\" title='$rss[full_title]'>$rss[title]</a>&nbsp;";
}
$demonums=Show_Company_Demo_Num($rs[id]);
print <<<EOT
-->
                <dl class="ListDl">
                	<dt><div><a href="$rs[url]" target="_blank"><img onerror="this.src='$webdb[www_url]/images/default/nopic.jpg'" src="$rs[picurl]" height="100" /></a></div></dt>
                    <dd>
                    	<div class="title"><a href="$rs[url]" target="_blank" title='$rs[full_title]'>$rs[title]</a> <span>案例：$demonums 关注：$rs[hits]</span></div>
                        <p>{$rs[content]}<a href="$rs[url]" target="_blank" title='$rs[full_title]'>全部&gt;&gt;</a></p>
                        <div class="dome">成功安全：$showdomes</div>
                    </dd>
                </dl>
<!--
EOT;
}
print <<<EOT
-->
				<div class="showpage">$showpage</div>
            </div>
        </div>
    </div>
    <div class="SideR">
        <div class="rightAD">{$label[zhuangxiu_rightad1]}</div>
        <div class="sideconts">
        	<div class="head"><div class="tag">热门公司</div><div class="more"><a href="listall.php?fid=$fid&ordertype=hits">MORE</a></div></div>
            <div class="cont">
<!--
EOT;
$array = Get_Info('hot',10,40,$fid);
$i=0;
foreach($array AS $rs){
$i++;
print <<<EOT
-->
            	<div class="listn list$i"><span>$i</span><a href="$rs[url]" target="_blank">$rs[title]</a></div>
<!--
EOT;
}print <<<EOT
-->
            </div>
        </div>
        <div class="sideconts">
        	<div class="head"><div class="tag">最新公司</div><div class="more"><a href="listall.php?fid=$fid">MORE</a></div></div>
            <div class="cont">
<!--
EOT;
$array = Get_Info('new',10,40,$fid);
$i=0;
foreach($array AS $rs){
$i++;
print <<<EOT
-->
            	<div class="list"><a href="$rs[url]" target="_blank">$rs[title]</a></div>
<!--
EOT;
}print <<<EOT
-->
            </div>
        </div>
    </div>
    <div class="ClearDiv"></div>
</div>
<!--
EOT;
?>
-->
