<!--
<?php
print <<<EOT
--> 
 <form name="myform" method="post" action="index.php?lfj=$lfj&action=$job">
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  
    <tr class="head"> 
      <td colspan="2"> 增加模板</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="14%"> 新模板文件</td>
      <td width="86%"> 
        <input type="text" name="filepath" size="50" value="$filepath">
        .htm结尾的文件 </td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="14%">模板代码:</td>
      <td width="86%">  
        <textarea name="code" id="code" cols="140" rows="20">$code</textarea>
        <br>
        <input type="button" value="切换可视化编辑器" onclick="initEditor('code','770px','300px');$(this).hide();" />
      </td>
    </tr>
    <tr align="center" bgcolor="#FFFFFF"> 
      <td colspan="2"> 
        <input type="submit" name="Submit" value="提交">
      </td>
    </tr>
  
</table></form>
<!--
EOT;
?>
-->
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
     <tr class="head"> 
      
    <td  > 帮助说明:</td>
    </tr>
  <tr>
    <td>1.增加前,请先参考一下原有的模板代码.</td>
  </tr>
</table>
