.MainContainer .sideL{
	width:245px;
}
.MainContainer .sideC{
	width:386px;
	padding:0 10px 0 10px;
}
.MainContainer .mainR{
	padding-left:10px;
}
/*
*第一栏
*/
.joinsite .head{
	height:45px;
	background:url(head1.gif) center top no-repeat;
	line-height:45px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}
.joinsite .cont{
	border:#BCD2E9 solid 1px;
	border-top:0;
	height:156px;
	background:url(bg1.gif) left top repeat-x;
}
.joinsite .action{
	border-left:#fff solid 1px;
	border-right:#fff solid 1px;
	height:90px;
	padding:5px 0 5px 0;
}
.joinsite .action div{
	width:120px;
	height:45px;
	float:left;
	background:url(butter.gif) center 7px no-repeat;
	text-align:center;
	line-height:45px;
}
.joinsite .action div a{
	display:block;
	padding-left:16px;
	text-decoration:none;
}
.joinsite .action div.but1 a{
	background:url(icon1.gif) 12px 15px no-repeat;
}
.joinsite .action div.but2 a{
	background:url(icon2.gif) 12px 15px no-repeat;
}
.joinsite .action div.but3 a{
	background:url(icon3.gif) 12px 15px no-repeat;
}
.joinsite .action div.but4 a{
	background:url(icon4.gif) 12px 15px no-repeat;
}
.joinsite .reg{
	border-left:#fff solid 1px;
	border-right:#fff solid 1px;
	height:50px;
	text-align:center;
	background:url(regbg.gif) center 5px no-repeat;
	line-height:50px;
}
.joinsite .reg a{
	font-size:14px;
	font-weight:bold;
	display:bold;
	padding-left:10px;
}
.Slidecont{
	width:386px;
	height:202px;
	overflow:hidden;
}
.Newsbuy .head{
	height:35px;
	background:url(head.gif) right top no-repeat;
	line-height:35px;
}
.Newsbuy .head .tag{
	float:left;
	padding:0 50px 0 25px;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	background:url(head.gif) left top no-repeat;
}
.Newsbuy .head .more{
	float:right;
	padding-right:10px;
}
.Newsbuy .cont{
	border:#DBDBDB solid 1px;
	border-top:0;
	padding:10px;
}
.Newsbuy .cont div{
	line-height:21px;
	height:21px;
	overflow:hidden;
	padding:0 5px 0 10px;
	background:url(icon.gif) left 9px no-repeat;
}
.Newsbuy .cont div a{
	float:left;
}
.Newsbuy .cont div span{
	float:right;
	color:#666;
}
.Newsbuy .cont div span em{
	color:#f60;
	padding-right:3px;
}
/*
*第二栏
*/
.notetitle{
	border:#BCD2E9 solid 1px;
	padding:5px;
	height:70px;
	background:url(bg1.gif) left bottom repeat-x;
}
.notetitle span{
	display:block;
	width:100px;
	height:23px;
	overflow:hidden;
	line-height:23px;
	float:left;
	padding-left:15px;
	background:url(icon0.gif) 5px 9px no-repeat;
}
.secondad{
	width:725px;
	height:80px;
	overflow:hidden;
}
/*
*第三栏
*/
.sidecont .head{
	height:31px;
	overflow:hidden;
	background:url(head2.gif) right top no-repeat;
	line-height:35px;
}
.sidecont .head .tag{
	background:url(tag.gif) left top no-repeat;
	float:left;
	padding-left:20px;
	font-size:14px;
	font-weight:bold;
}
.sidecont .head .tag span{
	background:url(tag.gif) right top no-repeat;
	display:block;
	padding-right:20px;
}
.sidecont .head .more{
	float:right;
	padding-right:10px;
}
.sidecont .cont{
	border:#DADADA solid 1px;
	border-top:0;
}
.sidecont .numlist{
	padding:10px;
	line-height:22px;
}
.sidecont .numlist div{
	height:22px;
	padding-left:30px;
	overflow:hidden;
}
.sidecont .numlist div a{
	float:left;
}
.sidecont .numlist div span{
	float:right;
	color:#777;
}
.sidecont .numlist .list1{
	background:url(num1.gif) left top no-repeat;
}
.sidecont .numlist .list2{
	background:url(num1.gif) left -25px no-repeat;
}
.sidecont .numlist .list3{
	background:url(num1.gif) left -50px no-repeat;
}
.sidecont .numlist .list4{
	background:url(num1.gif) left -74px no-repeat;
}
.sidecont .numlist .list5{
	background:url(num1.gif) left -100px no-repeat;
}
.sidecont .numlist .list6{
	background:url(num1.gif) left -125px no-repeat;
}
.sidecont .piclist{
	height:152px;
	overflow:hidden;
}
.sidecont .piclist .list{
	height:152px;
	width:104px;
	padding:0 8px 0 8px;
	overflow:hidden;
	float:left;
}
.sidecont .piclist .list a,.sidecont .piclist .list span{
	display:block;
	line-height:17px;
	text-align:center;
	height:17px;
	overflow:hidden;
}
.sidecont .piclist .list a.img{
	height:75px;
	padding:1px 0 1px 0;
	margin:8px auto 5px auto;
	border:#DDD solid 1px;
}
.sidecont .piclist .list em{
	color:#f60;
	font-style:normal;
}
/*
*第四栏
*/
.sortcont .head{
	height:35px;
	background:url(head4.gif) right top no-repeat;
	line-height:35px;
}
.sortcont .head .tag{
	float:left;
	padding:0 50px 0 10px;
	background:url(head4.gif) left top no-repeat;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
}
.sortcont .head .more{
	float:right;
	padding:0 15px 0 18px;
	background:url(postbut.gif) left 6px no-repeat;
}
.sortcont .cont{
	border:#DBDBDB solid 1px;
	border-top:0;
}
#ShowSortTable td{
	width:50%;
}
#ShowSortTable .havebg{
	background:#FAFCFE;
}
#ShowSortTable .choose{
	background:#E2F0FB;
}
#ShowSortTable .big_name{
	padding:8px 10px 5px 15px;
}
#ShowSortTable .big_name a{
	font-size:14px;
	font-weight:bold;
	color:#004499;
}
#ShowSortTable .smll_name{
	padding:0 5px 5px 15px;
	line-height:20px;
	color:#999;
}
#ShowSortTable .smll_name a{
	color:#666;
}
#ShowSortTable .smll_name a.more{
	color:#FF6600;
}
.sidecont1{
	border:#DBDBDB solid 1px;
}
.sidecont1 .head{
	height:30px;
	background:url(head3.gif) left top repeat-x;
}
.sidecont1 .head .tag{
	float:left;
	padding:8px 0 0 10px;
	font-size:14px;
	font-weight:bold;
}
.sidecont1 .head .more{
	float:right;
	padding:9px 10px 0 0;
}
.sidecont1 .cont{
	padding:10px;
}
.sidecont1 .numlist div{
	height:23px;
	line-height:23px;
	overflow:hidden;
	padding:0 5px 0 20px;
}
.sidecont1 .numlist div.l1{
	background:url(num3.gif) left -19px no-repeat;
}
.sidecont1 .numlist div.l2{
	background:url(num3.gif) left -38px no-repeat;
}
.sidecont1 .numlist div.l3{
	background:url(num3.gif) left -57px no-repeat;
}
.sidecont1 .numlist div.l4{
	background:url(num3.gif) left -76px no-repeat;
}
.sidecont1 .numlist div.l5{
	background:url(num3.gif) left -98px no-repeat;
}
.sidecont1 .numlist div.l6{
	background:url(num3.gif) left -120px no-repeat;
}
.sidecont1 .numlist div.l7{
	background:url(num3.gif) left -142px no-repeat;
}
.sidecont1 .numlist div.l8{
	background:url(num3.gif) left -162px no-repeat;
}
.sidecont1 .numlist div.l9{
	background:url(num3.gif) left -182px no-repeat;
}
/*
*品牌展示
*/
.sidecont1 .listpinpai{
	width:50%;
	height:75px;
	overflow:hidden;
	text-align:center;
	float:left;
	border-bottom:#CCC dotted 1px;
	margin-bottom:5px;
}
.sidecont1 .listpinpai a{
	display:block;
}
.sidecont1 .listpinpai img{
	margin:3px auto 8px auto;
	border:#DDD solid 1px;
}