<!--
<?php
print <<<EOT
-->
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/css4.0/news/index.css">
<div class="TopNewsCont">
	{$label[fashion_newsindext1]}
</div>
<div class="NewsMenu">
	{$label[fashion_newsindexmenu]}
</div>
<div class="MainContainer1">
	<div class="SideL">
    	<div class="sidecont1">
        	<div class="head"><span class="tag">{$label[fashion_newsindexh1]}</span></div>
            <div class="todaytz">
            	{$label[fashion_newsindext2]}
            </div>
        </div>
    </div>
    <div class="SideC">
    	<div class="sidecont1">
        	<div class="head"><span class="tag">{$label[fashion_newsindexh2]}</span></div>
            <div class="focusnews">
                <div class="slidescont">
                	{$label[fashion_newsindext3]}
                </div>
                <div class="headlines">
                	{$label[fashion_newsindext4]}
                </div>
            </div>
        </div>
    </div>
    <div class="SideR">
    	<div class="sidecont1">
        	<div class="head"><span class="tag">{$label[fashion_newsindexh3]}</span></div>
            <div class="hotnews">
            	<div class="cca">
                	{$label[fashion_newsindext5]}
                </div>
                <div class="ccb">
                	{$label[fashion_newsindext6]}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="MainBanner">{$label[fashion_newsindext7]}</div>
<div class="MainContainer2">
	<div class="head">
    	{$label[fashion_newsindexh4]}
    </div>
    <div class="cont">
        <div onclick="showup()" id="showup"><br/></div>
        <ul id="ShowList">
            $label[fashion_newsindext8]
        </ul>
        <div onclick="showdown()" id="showdown"><br/></div>
<script type="text/javascript" src="$webdb[www_url]/images/css4.0/news/showmore.js"></script>    
    </div>
</div>
<div class="MainContainer3">
	<div class="SideL">
    	<div class="sidecont1">
        	<div class="head"><span class="tag">{$label[fashion_newsindexh5]}</span></div>
            <div class="Holiday">
            	{$label[fashion_newsindext9]}
            </div>
        </div>
    </div>
    <div class="SideC">
    	<div class="sidecont1">
        	<div class="head head1">
            	{$label[fashion_newsindexh6]}
            </div>
            <div class="couponcont">
            	<div id="Tab1">
                    <div class="cc1">
                        {$label[fashion_newsindext10]}
                    </div>
                    <div class="cc2">
                        {$label[fashion_newsindext11]}
                    </div>
                </div>
                <div id="Tab2">
                    {$label[fashion_newsindext12]}
                </div>
                <div id="Tab3">
                    {$label[fashion_newsindext13]}
                </div>
                <div id="Tab4">
                    {$label[fashion_newsindext14]}
                </div>
            </div>
            <SCRIPT LANGUAGE="JavaScript">ShowTab(1,1,5);</SCRIPT>
        </div>
    </div>
    <div class="SideR">
    	<div class="sidecont1">
        	<div class="head"><span class="tag">{$label[fashion_newsindexh7]}</span></div>
            <div class="community">
            	{$label[fashion_newsindext15]}
            </div>
        </div>
    </div>
</div>
<div class="MainBanner">{$label[fashion_newsindext16]}</div>
<div class="MainContainer3">
	<div class="SideL">
    	<div class="sidecont1">
        	<div class="head"><span class="tag">{$label[fashion_newsindexh8]}</span></div>
            <div class="Holiday">
            	{$label[fashion_newsindext18]}
            </div>
        </div>
    </div>
    <div class="SideC">
    	<div class="sidecont1">
        	<div class="head head1">
            	{$label[fashion_newsindexh9]}
            </div>
            <div class="couponcont">
            	<div id="Tab5">
                	{$label[fashion_newsindext19]}
                </div>
                <div id="Tab6">
                    {$label[fashion_newsindext20]}
                </div>
                <div id="Tab7">
                    {$label[fashion_newsindext21]}
                </div>
                <div id="Tab8">
                    {$label[fashion_newsindext22]}
                </div>
            </div>
            <SCRIPT LANGUAGE="JavaScript">ShowTab(5,5,9);</SCRIPT>
        </div>
    </div>
    <div class="SideR">
    	<div class="sidecont1">
        	<div class="head"><span class="tag">{$label[fashion_newsindexh10]}</span></div>
            <div class="community">
            	{$label[fashion_newsindext23]}
            </div>
        </div>
    </div>
</div>
<div class="MainBanner">{$label[fashion_newsindext17]}</div>
<div class="bottomdiv"></div>
<!--
EOT;
?>
-->