<!--
<?php
print <<<EOT
--> 
<link rel="stylesheet" type="text/css" href="$Mdomain/images/default/bencandy.css">
<div class="MainCont">
	<div class="Mhead">
    	<div class="tag">$rsdb[title]</div>
        <div class="info">
        	发布时间：<a editurl='$Murl/job.php?job=bencandy&fid=$fid&id=$id&act=do'>{$rsdb[posttime]}</a>
            浏览{$rsdb[hits]}次
        </div>
    </div>
    <dl class="baseinfo">
    	<dt>
        	<div class="infopic">
               <div class="img"><a href="$city_url/job.php?job=show_img&fid=$fid&id=$id" target="_blank">
                <img src='$rsdb[picurl]' onerror="this.src='$webdb[www_url]/images/default/nopic.jpg'" width="120"/></a></div>
                <div><a href="$city_url/job.php?job=show_img&fid=$fid&id=$id" target="_blank">
                <img src="$webdb[www_url]/images/default/img_ico.gif">{$rsdb[picnum]}图</a></div>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="liststyle">
              <tr>
                <td>
                <div><span>地区：</span>{$rsdb[showarea]}</div>
				<!--{template}--><div><span>{title}：</span>{value}</div><!--{/template}-->
                <div><span>标签：</span>$rsdb[keywords]</div>
                </td>
              </tr>
            </table>
			<div class="moreaction">
                <a href="JavaScript:;" onClick="window.open('$city_url/job.php?job=report&fid=$fid&id=$id');"><img src="$Mdomain/images/default/but1.gif" /></a>
                <a href="JavaScript:;" onClick="window.location.href='mailto:';"><img src="$Mdomain/images/default/but2.gif" /></a>
                <a href="JavaScript:;" onClick="window.open('job.php?job=collect&fid=$fid&id=$id')"><img src="$Mdomain/images/default/but3.gif" /></a>
            </div>
        </dt>
        <dd>
        	<div class="moreinfo">
                <div><span>联系人：</span>{$rsdb[linkman]} 
<!--
EOT;
if($rsdb[uid]){
print <<<EOT
-->
                <a href="$webdb[_www_url]/member/?main=pm.php?job=send&username=$rsdb[linkman]" target="_blank"><img src="$webdb[www_url]/images/yellow/ww_offline.gif" /></a> 
<!--
EOT;
}print <<<EOT
-->
                </div>
                <div><span>电话号码：</span>$rsdb[telephone]</div>
                <div><span>手机号码：</span>$rsdb[mobphone]</div>
                <div><span>QQ　号码：</span><a href="tencent://message/?uin=$rsdb[_oicq]&Site=$webdb[Info_webname]&Menu=yes">$rsdb[oicq]</a></div>
                <div><span>MSN 帐号：</span>$rsdb[msn]</div>
                <div><span>邮箱帐号：</span>$rsdb[email]</div>
                <div><span>IP归属地：</span>{$rsdb[ipfrom]} <a href="$city_url/job.php?job=ip&ip=$rsdb[ipaddress]" target="_blank">查询更多</a></div>
            </div>
        </dd>
    </dl>
    <div class="contents">
    	<div class="heads"><div class="tag"><span>详细信息</span></div><div class="more"><br/></div></div>
        <div class="conts">$rsdb[content]</div>
    </div>
</div>
<div class="MainCont1">
	<div class="CommentCont">
    	<div class="head">
        	<div class="tag"><span>网友留言</span></div>
            <div class="more"><br/></div>
        </div>
        <div class="cont">
        	<div id="comment"></div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="comment_form">
              <tr>                    
                <td colspan="2" class="h">添加留言</td>
              </tr>
<!--
EOT;
if($lfjid){$none='none';}
print <<<EOT
-->
              <tr style="display:$none;">
                <td class="left">称呼:</td>
                <td class="right"><input type="text" name="textfield2" id="comment_username" value="$lfjid"></td>
              </tr>
<!--
EOT;
if($webdb[Info_GroupCommentYzImg]&&in_array($groupdb['gid'],explode(",",$webdb[Info_GroupCommentYzImg]))){
$webdb[yzImgComment]=1;
print <<<EOT
-->
              <tr>
                <td class="left">验证码:</td>
                <td class="right">
                    <input id="yzImgNum" type="text" name="yzimg" size="8" onFocus="commentyzimg()">
<SCRIPT LANGUAGE="JavaScript">
<!--
function commentyzimg(){
if(/yzimg\.php/.test($("#yz_Img")[0].src)==false){
    $("#yz_Img").show();
    $("#yz_Img")[0].src='$webdb[www_url]/do/yzimg.php?'+Math.random();
}

}

document.write('<img border="0" id="yz_Img" name="imageField" onclick="this.src=this.src+Math.random();" src="" style="display:none;">');
//-->
</SCRIPT>
                </td>
              </tr>
<!--
EOT;
}
print <<<EOT
--> 
              <tr>
                <td class="left">内容:</td>
                <td class="right"><textarea name="textfield" rows="8" id="comment_content" onKeyDown="quickpost(event)"></textarea></td>
              </tr>
              <tr>
                <td class="left">
<script language="JavaScript">
<!--

getcomment("$city_url/job.php?job=comment_ajax&fid=$fid&id=$id");
cnt = 0;
function quickpost(event)
{
if((event.ctrlKey && event.keyCode == 13)||(event.altKey && event.keyCode == 83))
{
    cnt++;
    if (cnt==1){
        post_comment();
    }else{
        alert('内容正在提交...');
    }
}	
}

function post_comment(){
postcomment('$city_url/job.php?job=comment_ajax&action=post&fid=$fid&id=$id','$webdb[yzImgComment]');
if(document.getElementById("yz_Img")!=null){
    //document.getElementById("yz_Img").src="$webdb[www_url]/do/yzimg.php?"+Math.random();;
    $("#yz_Img")[0].src='';
    $("#yz_Img").hide();
}
}
//-->
</script>
                </td>
                <td class="submits"><input name="" type="image" src="$Murl/images/default/post2.gif" id="comment_submit" onClick="post_comment();" /></td>
              </tr>
            </table>
        </div>
    </div>
    <div class="side">
    	<div class="ActCont">
        	<a href="post.php?fid=$fid" target="_blank"><img src="$Mdomain/images/default/sub1.gif" /></a> 
            <a href="$webdb[_www_url]/member/?main=$webdb[_www_url]/hy/member/homepage_ctrl.php?atn=info" target="_blank"><img src="$Mdomain/images/default/sub2.gif" /></a> 
            <a href="$webdb[_www_url]/member/?main=$Murl/member/list.php" target="_blank"><img src="$Mdomain/images/default/sub3.gif" /></a> 
            <a href="$webdb[_www_url]/member/?main=$webdb[_www_url]/hy/member/renzheng.php" target="_blank"><img src="$Mdomain/images/default/sub4.gif" /></a> 
        </div>
        <div class="Poster">
        	<div class="head">发布人信息</div>
            <dl>
            	<dt><a href="$webdb[www_url]/member/homepage.php?uid=$rsdb[uid]"  onclick="if($rsdb[uid]==0)return false;"><img src="$userdb[icon]" onerror="this.src='$webdb[www_url]/images/default/noface.gif'" width="80" height="80" /></a></dt>
                <dd>
                	<div><a href="$city_url/job.php?job=userinfo&uid=$rsdb[uid]"  onclick="if($rsdb[uid]==0)return false;">$userdb[username]</a></div>
                    <div>注册:$userdb[regdate]</div>
                    <div>离线:$userdb[lastvist]</div>
                    <div>级别:$userdb[level]</div>				
					<div>
<!--
EOT;
$member1 = $userdb[grouptype]==1 ? "<img src=\"$webdb[www_url]/member/images/company_icon.gif\" alt=\"企业会员\">" : "";
$member2 = $userdb[idcard_yz]==1 ? "<img src=\"$webdb[www_url]/images/default/yz/idcard_1.gif\" alt=\"身份认证会员\">" : "<img src=\"$webdb[www_url]/images/default/yz/idcard_0.gif\" alt=\"身份还未认证\">";
$member3 = $userdb[email_yz]==1 ? "<img src=\"$webdb[www_url]/images/default/yz/email_1.gif\" alt=\"邮箱认证会员\">" : "<img src=\"$webdb[www_url]/images/default/yz/email_0.gif\" alt=\"邮箱还未认证\">";
$member4 = $userdb[mob_yz]==1 ? "<img src=\"$webdb[www_url]/images/default/yz/mob_1.gif\" alt=\"手机认证会员\">" : "<img src=\"$webdb[www_url]/images/default/yz/mob_0.gif\" alt=\"手机还未认证\">";
print <<<EOT
-->
						$member1 $member2 $member3 $member4
					</div>
                </dd>                
            </dl>
            <div class="all"><a href="$city_url/job.php?job=userinfo&uid=$rsdb[uid]" onclick="if($rsdb[uid]==0)return false;" target="_blank">查看该用户发布的所有信息</a></div>            
        </div>
<!--
EOT;
if($rsdb[maps]){
print <<<EOT
-->
		<div class="sidecont">
          <div class="head">
            	<div class="tag">地图位置</div>
          </div>
          <div style="padding:5px;">
<!--
EOT;
if($webdb[if_GGmap]){print <<<EOT
-->
            <iframe src="$webdb[www_url]/hy/job.php?job=show_ggmaps&position=$rsdb[maps]&title=$rsdb[title]"  width="100%" height="400" scrolling="no" frameborder="0" ></iframe>
            <!--
EOT;
}else{
$detail=explode(",",$rsdb[maps]);
print <<<EOT
-->
           <script language="javascript" src="http://api.51ditu.com/js/maps.js"></script>
            <div id="maps" style="position:relative; width:230px; height:200px; border:black solid 1px;"> 
              <div align="center" style="margin:12px;"><a href="http://api.51ditu.com/docs/mapsapi/help.html" target="_blank" style="color:#D01E14;font-weight:bolder;font-size:12px;">看不到地图请点这里</a></div>
            </div>
            <script language="javascript">
	var maps = new LTMaps( "maps" );
	var c = new LTSmallMapControl();
	maps.addControl(c);
	var point = new LTPoint( $detail[0] , $detail[1] );
	maps.centerAndZoom ( point , 2 );
	var marker = new LTMarker( point );
	maps.addOverLay( marker );
	var text = new LTMapText( marker );
	text.setLabel( "目标所在位置" ); 
	maps.addOverLay( text ); 
</script>
<!--
EOT;
} 
print <<<EOT
-->
          </div> 
         </div>
<!--
EOT;
}print <<<EOT
-->
        <div class="sidecont">
        	<div class="head">
            	<div class="tag">二手人气排行</div>
                <div class="more"><a href="listall.php">更多&gt;&gt;</a></div>
            </div>
            <div class="cont cont1">
<!--
EOT;
$listdb = Get_Info("hot",10,40,$fid);
foreach($listdb AS $key=>$rs){
$rs[url]=get_info_url($rs[id],$rs[fid],$rs[city_id]);
print <<<EOT
-->
				<div class="list{$key}"><span>{$key}</span><a href="$rs[url]" target="_blank" title='$rs[full_title]' style="color:$rs[titlecolor];">$rs[title]</a></div>
<!--
EOT;
}
print <<<EOT
-->
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
</div>
<!--
EOT;
?>
-->
